@using System.Text.Json

@{
    var memberID = Context.Session.GetString("MemberID");
    var token = Context.Session.GetString("Token");

    var googleMemberId = Context.Session.GetString("GoogleMemberID");
    var googleMemberFirstName = Context.Session.GetString("GoogleMemberFirstName");

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - testModel</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
@*     <link rel="stylesheet" href="~/testModel.styles.css" asp-append-version="true" />
 *@
    <!-- 套版的CSS -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="~/image/ming_img/funnowlogo3.png" type="image/png">
    <title>FUNNOW</title>
    <!-- Bootstrap CSS -->
    <@* link rel="stylesheet" href="~/css/ming_css/bootstrap.css"> *@
    @* <link rel="stylesheet" href="~/ming/vendors/linericon/style.css"> *@
    @* <link rel="stylesheet" href="~/css/ming_css/font-awesome.min.css"> *@
    @* <link rel="stylesheet" href="~/ming/vendors/owl-carousel/owl.carousel.min.css"> *@
    @* <link rel="stylesheet" href="~/ming/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css"> *@
    <link rel="stylesheet" href="~/ming/vendors/nice-select/css/nice-select.css">
    <@* link rel="stylesheet" href="~/ming/vendors/owl-carousel/owl.carousel.min.css"> *@
    <!-- main css -->
    <link rel="stylesheet" href="~/css/ming_css/style.css">
    <link rel="stylesheet" href="~/css/ming_css/styleparty.css">
    @* <link rel="stylesheet" href="~/css/ming_css/responsive.css"> *@
    @* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> *@

    @* <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" /> *@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
.booking-area {
    background-color: #20274d;
    padding: 20px;
}

.form-control, .btn {
    margin-bottom: 10px;
}

.d-flex.align-items-center label {
    color: white;
    margin-bottom: 0;
    margin-right: 3px; /* 減少標籤與輸入框之間的間距 */
    white-space: nowrap; /* 確保標籤不換行 */
}

.d-flex.align-items-center input {
    flex-grow: 1; /* 確保輸入框佔據剩餘空間 */
}


.navbar {
    height: 70px;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px 2px;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-logo {
    height: 40px;
    border-radius: 12px;
    width:140px;
}

.nav-btn {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #fe4a55;
    color: #fe4a55;
    margin-top: 8px;
    font-size: 14px;
}

    .nav-btn:hover {
        background-color: #fe4a55;
        color: white;
    }

.nav-btn-primary {
    background-color: #00023c;
    color: white;
    margin-top: 8px;
    border-color: #00023c ;
}

    .nav-btn-primary:hover {
        background-color: white;
        color: #00023c;
        border-color: #00023c;
    }

.member-nav {
    display: flex;
    align-items: center;
}

.member-nav-item {
    margin-right: 10px; /* 為每個元素添加右邊距 */
}

    .member-nav-item:last-child {
        margin-right: 0; /* 移除最後一個元素的右邊距 */
    }

.post-link {
    color: #fe4a55;
    border: 1px solid #fe4a55;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    white-space: nowrap; /* 防止文字換行 */
}

    .post-link:hover {
        background-color: #fe4a55;
        color: white;
    }

.fa-cart-shopping {
    font-size: 24px;
    color: #00023c;
}

.cart-icon {
    position: relative;
    display: inline-block;
}

    .cart-icon i {
        transition: opacity 0.3s ease;
    }

    .cart-icon::before {
        content: "\f218"; /* fa-cart-arrow-down 的 Unicode */
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        font-size: 24px;
        color: #00023c;
        margin-right: 0px;
        padding-left: 30px";
    }

    .cart-icon:hover i {
        opacity: 0;
    }

    .cart-icon:hover::before {
        opacity: 1;
    }



.NNavProfileImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px; /* 在圖像和文字之間添加一些間距 */
}



.NNavLogoutButton {
    white-space: nowrap; /* 防止文字換行 */
    border: solid 1px #00023c !important;
    border-radius: 4px;
    background-color: transparent;
    margin-top: 10px;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
}

    .NNavLogoutButton:hover {
        background-color: #00023c !important;
        color: white;
    }

.dropdown-toggle.no-caret::after {
    display: none;
}

.nav-link {
    display: flex;
    align-items: center;
    white-space: nowrap; /* 防止文字換行 */
}

#NavMemberName {
    overflow: hidden;
    text-overflow: ellipsis; /* 如果文字太長，使用省略號 */
    max-width: 150px; /* 設置最大寬度，根據需要調整 */
    color: #00013d;
}

@@media (max-width: 991px) {
    #MemberContent, #guestContent {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-btn, .post-link {
        margin-bottom: 10px;
    }

    .member-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .member-nav-item {
        margin-right: 0;
        margin-bottom: 10px; /* 在垂直排列時添加底部邊距 */
    }

        .member-nav-item:last-child {
            margin-bottom: 0; /* 移除最後一個元素的底部邊距 */
        }
}
         </style>


    @await RenderSectionAsync("Styles", required: false)

</head>
<body>
    <!--================標題列 Header Area =================-->
    <header class="header_area">
        <!-- 導航欄 -->
        <div class="container-fluid" style="padding: 0;">
            <nav class="navbar navbar-expand-lg">
                <div class="navbar-container d-flex justify-content-between align-items-center w-100">
                    <!-- Logo -->
                    <a class="navbar-brand logo_h" href="/home/index">
                        <img src="~/image/ming_img/newnewLogo.png" alt="Logo" class="navbar-logo">
                    </a>

                    <!-- Navbar content -->
                    <div id="MemberContent" class="d-none align-items-center member-nav">
                        <a href="/HostManage/Home" class="nav-item nav-link post-link member-nav-item" style="margin-right:0px"><i class="fa-solid fa-house" style="margin-right:3px"></i>刊登家中空房</a>
                        <a href="/Cart/cartItems" class="nav-item nav-link member-nav-item cart-icon" style="margin-right:0px; padding-left:30px">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </a>
                        <div class="nav-item dropdown member-nav-item">
                            <a href="#" class="nav-link dropdown-toggle no-caret d-flex align-items-center" data-toggle="dropdown">
                                <img id="NNavProfileImg" class="NNavProfileImg mr-2" src="https://cdn2.ettoday.net/images/1457/d1457772.jpg" alt="Profile">
                                <span id="NavMemberName"></span>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/OrderManagement/Index">我的訂單</a>
                                <a class="dropdown-item" href="/OrderManagement/HotelMessenge">我的訊息</a>
                                <a class="dropdown-item" href="/HotelsFavorites/HotelsFavoritesList">我的最愛</a>
                                <a class="dropdown-item" href="/Comment/Angular_membercomment">我的評論</a>
                                <a class="dropdown-item" asp-controller="MemberInformationn" asp-action="Memberinformationn">個人資料管理</a>
                            </div>
                        </div>
                        <button class="btn NNavLogoutButton member-nav-item" id="NNavLogoutButton">我要登出<i class="fa-solid fa-right-from-bracket" style="margin-left:5px"></i></button>
                    </div>

                    <!-- Guest content -->
                    <div id="guestContent" class="d-none align-items-center">
                        <a href="@Url.Action("Login", "Member")" class="btn nav-btn"><i class="fa-solid fa-door-open" style="margin-right:3px"></i>我要登入</a>
                        <a href="@Url.Action("Register", "Member")" class="btn nav-btn"><i class="fa-solid fa-address-card" style="margin-right:3px"></i>我是新朋友</a>
                        <a href="@Url.Action("Index", "Home")" class="btn nav-btn nav-btn-primary">先逛逛首頁<i class="fa-solid fa-car-side" style="margin-left:5px"></i></a>
                    </div>
                </div>
        </div>
        </div>
        </nav>
        </div>
        <!-- Date picker and booking button 浮動訂房欄 -->
        <div class="container-fluid booking-area" style="background-color: #20274d; padding: 20px;">
            <div class="row justify-content-center text-center">
                <div class="col-md-2">
                    <input class="form-control mb-2 mr-sm-2" type="text" placeholder="今天想去哪裡旅行" aria-label="Name" id="search-input3" value="@ViewBag.SearchValue">@* 将搜索值放入ViewBag(by louieee) *@
                </div>
                <div class="col-md-2">
                    <input class="form-control mb-2 mr-sm-2" type="date" placeholder="訂房日期" aria-label="Check-in Date" id="myDatepickerstart3">
                </div>
                <div class="col-md-2">
                    <input class="form-control mb-2 mr-sm-2" type="date" placeholder="退房日期" aria-label="Check-out Date" id="myDatepickerend3">
                </div>
                <div class="col-md-2 d-flex align-items-center">
                    <label for="adults3" style="background-color: transparent; border: none; font-size:20px">多少人一起FunNow:</label>
                    <input class="form-control mb-2 mr-sm-2" type="number" id="adults3" name="adults3" min="1" max="100" value="1">
                </div>
                <div class="col-md-1 d-flex align-items-center">
                    <label for="rooms3" style="background-color: transparent; border: none;font-size:20px">客房數:</label>
                    <input class="form-control mb-2 mr-sm-2" type="number" id="rooms3" name="rooms3" min="1" max="100" value="1">
                </div>
                <div class="col-md-1">        @* //這邊可以設定要不要跳轉 *@
                    <a class="btn btn-outline-success my-2 my-sm-0" href="" type="submit" id="buttonSubmit3">Book Now</a>
                </div>
            </div>
        </div>
    </header>
    <div >
            @RenderBody()    
    </div>
    <br /><br /><br /><br /><br /><br />
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Agency</h6>
                        <p>The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message. It has come to a point </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navigation Links</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li>
                                        <a href="#">Home</a>
                                    </li>
                                    <li>
                                        <a href="#">Feature</a>
                                    </li>
                                    <li>
                                        <a href="#">Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Portfolio</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li>
                                        <a href="#">Team</a>
                                    </li>
                                    <li>
                                        <a href="#">Pricing</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Newsletter</h6>
                        <p>For business professionals caught between high OEM price and mediocre print and graphic output, </p>
                        <div id="mc_embed_signup">
                            <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address '" required="" type="email">
                                    <button class="btn sub-btn"><span class="lnr lnr-location"></span></button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li>
                                <img src="~/image/ming_img/instagram/Image-01.jpg" alt="">
                            </li>
                            <li>
                                <img src="~/image/ming_img/instagram/Image-02.jpg" alt="">
                            </li>
                            <li>
                                <img src="~/image/ming_img/instagram/Image-03.jpg" alt="">
                            </li>
                            <li>
                                <img src="~/image/ming_img/instagram/Image-04.jpg" alt="">
                            </li>
                            <li>
                                <img src="~/image/ming_img/instagram/Image-05.jpg" alt="">
                            </li>
                            <li>
                                <img src="~/image/ming_img/instagram/Image-06.jpg" alt="">
                            </li>
                            <li>
                                <img src="~/image/ming_img/instagram/Image-07.jpg" alt="">
                            </li>
                            <li>
                                <img src="~/image/ming_img/instagram/Image-08.jpg" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with
                    <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- 引入jQuery庫 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/ming_js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/4f1ac4ae93.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/ming_js/jquery-3.2.1.min.js"></script>
    <script src="~/js/ming_js/popper.js"></script>
    <script src="~/js/ming_js/bootstrap.min.js"></script>
    <script src="~/ming/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/ming_js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/ming_js/mail-script.js"></script>
    <script src="~/ming/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/ming/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="~/js/ming_js/mail-script.js"></script>
    <script src="~/js/ming_js/stellar.js"></script>
    <script src="~/ming/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="~/js/ming_js/custom.js"></script>

    <script>
        // 監聽滾動事件
        window.addEventListener('scroll', function () {
            var floatingContainer = document.querySelector('.floating-container');
            var scrollPosition = window.scrollY || window.pageYOffset;

            // // 如果滾動至頁面中間，顯示浮動容器，否則隱藏
            // if (scrollPosition > (window.innerHeight / 2)) {
            //     floatingContainer.style.display = 'block';
            // } else {
            //     floatingContainer.style.display = 'none';
            // }
        });
    </script>

    
    <script>
        $(document).ready(function () {
            // 頁面剛載入時隱藏訂房欄，顯示導航欄
            $('.booking-area').show();
            $('.navbar').show();

            // 初始檢查滾動距離，以確保在頁面載入時的初始狀態正確
            $(window).trigger('scroll');

            // 當滾動頁面時
            $(window).scroll(function () {
                // 獲取目前的滾動距離
                var scrollDistance = $(window).scrollTop();

                // 如果滾動距離超過0，則隱藏導航欄和訂房欄
                if (scrollDistance > 0) {
                    $('.navbar').hide();
                    $('.booking-area').hide();
                } else {
                    // 如果滾動距離小於等於0，則顯示導航欄，隱藏訂房欄
                    $('.navbar').show();
                    $('.booking-area').show();
                }

                // 如果滾動的距離超過500px，則顯示訂房欄
                if (scrollDistance > 500)
                    $('.booking-area').show();


                if (scrollDistance = 0) {  // 回到原點時
                    $('.navbar').show();
                    $('.booking-area').show();
                }

            });
        });

    </script>
    <script>
        //調整浮動搜尋欄的預設日期
        document.addEventListener('DOMContentLoaded', function () {
            // 獲取今天的日期
            var today = new Date();
            var tomorrow = new Date(today);
            tomorrow.setDate(tomorrow.getDate() + 1);

            // 格式化日期為 yyyy-mm-dd
            var todayFormatted = today.toISOString().split('T')[0];
            var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

            // 設定 input 預設值
            document.getElementById('myDatepickerstart3').value = todayFormatted;
            document.getElementById('myDatepickerend3').value = tomorrowFormatted;
        });
    </script>
    <script>
        //決定nav bar的會員資訊是否顯示
        document.addEventListener("DOMContentLoaded", function () {
            var NavGoogleMemberId = '@googleMemberId';
            var NavMemberID = '@memberID';
            let NavLoginmemberID;

            if (NavMemberID) {
                NavLoginmemberID = NavMemberID;
            } else {
                NavLoginmemberID = NavGoogleMemberId;
            }

            const memberContent = document.getElementById("MemberContent");
            const guestContent = document.getElementById("guestContent");

            if (!NavLoginmemberID) {
                // 未登入
                if (guestContent) {
                    guestContent.classList.remove('d-none');
                    guestContent.classList.add('d-flex');
                }
            } else {
                // 已登入
                if (memberContent) {
                    memberContent.classList.remove('d-none');
                    memberContent.classList.add('d-flex');
                    fetchMemberData(NavLoginmemberID);
                }
            }
        });

        async function fetchMemberData(NavLoginmemberID) {
            try {
                const NavResponse = await fetch(`https://localhost:7103/api/Members/searchByID?ID=${NavLoginmemberID}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                });
                if (NavResponse.ok) {
                    const NavData = await NavResponse.json();
                    let NavLastName = NavData.lastName || "";

                    const navMemberName = document.getElementById("NavMemberName");
                    if (navMemberName) {
                        navMemberName.innerText = `${NavData.firstName}\xa0${NavLastName}`;
                    }

                    if (NavData.image) {
                        const NNavProfileImg = document.getElementById("NNavProfileImg");
                        if (NNavProfileImg) NNavProfileImg.src = NavData.image;
                    }
                } else {
                    const errorText = await NavResponse.text();
                    console.error('查詢失敗:', errorText);
                    alert('查詢失敗，請稍後再試');
                }
            } catch (error) {
                console.error('發生錯誤:', error);
                alert(`發生錯誤，請稍後再試。錯誤信息: ${error.message}`);
            }
        }

        //點下登出按鈕，把session的資料清空，也把google登入的session清空
        document.getElementById("NNavLogoutButton").addEventListener("click", function () {
            // 重定向到登出操作方法
            window.location.href = "@Url.Action("Logout", "Member")";
        });






    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
