@using PrjFunNowWeb.Models.louie_dto
@{
    ViewData["Title"] = "pgHotel";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PrjFunNowWeb.Models.louie_viewmodel.pgHotel_HotelDetailViewModel
<div class="container mt-5 pt-5" id="top">
    <div class="row">
        <div>
            @*麵包屑*@
            <div>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" style="color:blue;">首頁</a></li>
                        <li class="breadcrumb-item"><a href="#" style="color:blue;">@Model.HotelDetail.CountryName</a></li>
                        <li class="breadcrumb-item"><a href="#" style="color:blue;">@Model.HotelDetail.CityName</a></li>
                        <li class="breadcrumb-item active">@Model.HotelDetail.HotelName</li>
                    </ol>
                </nav>

            </div>

            @*飯店介紹區*@

            @*飯店介紹區-第一層*@
            <div class="row">
                <div class="col-8">
                    <div style="display:flex;">
                        <h2>@Model.HotelDetail.HotelName</h2>
                        @for (int i = 0; i < Model.HotelDetail.LevelStar; i++)
                        {
                            <img src="~/image/louieee_img/star.png" />
                        }
                    </div>
                    <div style="display:flex;">
                        <i class="fa-solid fa-location-dot">@Model.HotelDetail.HotelAddress</i>
                        <a class="link-offset-2 link-underline link-underline-opacity-75" href="#hotel-map">在地圖上顯示</a>
                    </div>
                    <div style="display:flex;">
                        <i class="fa-solid fa-hotel"></i>
                        <p id="description">
                            @if (!string.IsNullOrEmpty(Model.HotelDetail.HotelDescription) && Model.HotelDetail.HotelDescription.Length > 100)
                            {
                                @(Model.HotelDetail.HotelDescription.Substring(0, 100) + "...")
                            }
                            else
                            {
                                @Model.HotelDetail.HotelDescription
                            }
                        </p>
                        <a class="link-offset-2 link-underline link-underline-opacity-75" href="#hotel-equips" id="toggle-description">
                            @if (!string.IsNullOrEmpty(Model.HotelDetail.HotelDescription) && Model.HotelDetail.HotelDescription.Length > 100)
                            {
                                @("顯示更多")
                            }
                        </a>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <h2>TWD @Model.HotelDetail.AverageRoomPrice</h2>
                    <a class="btn btn-primary btn-lg" href="#room-types">查看房型</a>
                </div>
            </div>
            @*飯店介紹區-第二層*@
            <div class="row">
                <div class="col-4 d-flex align-items-stretch" data-bs-toggle="modal" data-bs-target="#hotelModal">
                    @if (Model.HotelDetail.HotelImages != null && Model.HotelDetail.HotelImages.Any())
                    {
                        <img src="https://localhost:7284/image/@Model.HotelDetail.HotelImages.First().ImageUrl" class="img-fluid" />
                    }
                </div>
                <div class="col-8">
                    <table data-bs-toggle="modal" data-bs-target="#hotelModal">
                        @if (Model.HotelDetail.HotelImages != null && Model.HotelDetail.HotelImages.Count > 1)
                        {
                            var images = Model.HotelDetail.HotelImages.Skip(1).Take(6).ToList(); // 跳过第一张，获取接下来的6张图片
                            for (int i = 0; i < images.Count; i += 3)
                            {
                                <tr>
                                    @for (int j = 0; j < 3; j++)
                                    {
                                        if (i + j < images.Count)
                                        {
                                            <td>
                                                <img src="https://localhost:7284/image/@images[i + j].ImageUrl" class="img-fluid" />
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td> <!-- 填补空缺的td -->
                                        }
                                    }
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
            @*飯店介紹區-第三層*@
            @{
                var hotelEquipments = Model.HotelDetail.HotelEquipments.Take(8).ToList(); // 取前8个设施
                var rows = (int)Math.Ceiling(hotelEquipments.Count / 4.0); // 计算行数，每行4个设施
            }
            <div class="row">
                <div class="col-5">
                    <h3>評論</h3>@*亭蓉做*@
                </div>
                <div class="col-4 d-flex flex-column">
                    <h3>設施與服務</h3>
                    <table>
                        @for (int i = 0; i < rows; i++)
                        {
                            <tr>
                                @for (int j = 0; j < 4; j++)
                                {
                                    var index = i * 4 + j;
                                    if (index < hotelEquipments.Count)
                                    {
                                        <td> <i class="fa-regular fa-circle-check">@hotelEquipments[index]</i></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                            </tr>
                        }
                    </table>
                    <a class="link-offset-2 link-underline link-underline-opacity-75 align-self-end" href="#hotel-equips">所有設施></a>
                </div>
                <div class="col-3">
                    <h3>飯店周邊</h3>
                    <div class="row align-items-end">
                        <div class="col-8">
                            <table>
                                <tr>
                                    <td><i class="fa-solid fa-train">捷運: 劍潭站</i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-train">捷運: 劍潭站</i></td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-train">捷運: 劍潭站</i></td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-4">
                            <a class="link-offset-2 link-underline link-underline-opacity-75" href="#hotel-map">地圖></a>
                        </div>
                    </div>
                </div>
            </div>


            @*飯店彈出視窗*@
            <div class="modal fade" id="hotelModal" tabindex="-1" aria-labelledby="hotelModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <ul class="nav nav-underline">
                                <li class="nav-item">
                                    <a class="nav-link hotel-modal-nav-link" onclick="smoothScroll('category-0')">所有照片</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link hotel-modal-nav-link" onclick="smoothScroll('category-1')">客房</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link hotel-modal-nav-link" onclick="smoothScroll('category-2')">住宿</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link hotel-modal-nav-link" onclick="smoothScroll('category-3')">設施與服務</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link hotel-modal-nav-link" onclick="smoothScroll('category-4')">餐飲</a>
                                </li>
                            </ul>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-10 scrollable-container">
                                    <div class="d-flex flex-wrap">
                                        @{
                                            var hotelImages = Model.HotelDetail.HotelImages ?? new List<pgHotel_ImageDTO>();
                                            var roomImages = Model.HotelDetail.Rooms?.SelectMany(r => r.RoomImages) ?? new List<pgHotel_ImageDTO>();
                                            var allImages = hotelImages.Concat(roomImages);

                                            var categories = allImages
                                            .GroupBy(img => img.ImageCategoryID)
                                            .OrderBy(g => g.Key)
                                            .ToList();
                                        }

                                        @foreach (var category in categories)
                                        {
                                            var isFirstImage = true;
                                            foreach (var image in category)
                                            {
                                                <div class="p-2" style="flex: 1 0 50%;">
                                                    <img src="https://localhost:7284/image/@image.ImageUrl" class="img-fluid" alt="Hotel Image"
                                                    @(isFirstImage ? $"id='category-{image.ImageCategoryID}'" : "") />
                                                    @{
                                                        isFirstImage = false;
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-2 fixed-sidebar">
                                    <h3>@Model.HotelDetail.HotelName</h3>
                                    <h4>設施與服務</h4>
                                    <div class="d-flex flex-column">
                                        @foreach (var equipment in Model.HotelDetail.HotelEquipments)
                                        {
                                            <i class="fa-regular fa-thumbs-up">@equipment</i>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-end align-items-center">
                            <h3 class="mb-0">TWD @(Model.HotelDetail.AverageRoomPrice.ToString("F2"))</h3>
                            <button class="btn btn-primary btn-lg ml-3">查看房型</button>
                        </div>
                    </div>
                </div>
            </div>



            @*飯店導覽列*@
            <ul class="nav nav-underline fixed-nav">
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#room-types">房型</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#hotel-reviews">評論</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#hotel-equips">設施</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#hotel-map">周邊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#top"><i class="fa-solid fa-up-long"></i></a>
                </li>
            </ul>

            @*房型區--自動生成*@
            <div class="container mt-5 pt-5" id="room-types">
                <h2>所有房型</h2>
                @if (Model.HotelDetail.Rooms != null && Model.HotelDetail.Rooms.Any())
                {
                    @foreach (var room in Model.HotelDetail.Rooms)
                    {
                        var limitedRoomImages = room.RoomImages?.Take(4).ToList() ?? new List<pgHotel_ImageDTO>();
                        <div class="row room-item" data-room-name="@room.RoomName" data-room-price="@room.RoomPrice" data-room-equips="@Newtonsoft.Json.JsonConvert.SerializeObject(room.RoomEquipments)" data-room-images="@Newtonsoft.Json.JsonConvert.SerializeObject(room.RoomImages)">
                            <h3 data-bs-toggle="modal" data-bs-target="#roomModal">@room.RoomName</h3>
                            <div class="col-4">
                                <table data-bs-toggle="modal" data-bs-target="#roomModal">
                                    <tr>
                                        <td colspan="3"><img src="https://localhost:7284/image/@(limitedRoomImages.Count > 0 ? limitedRoomImages[0].ImageUrl : "default_image.png")" class="img-fluid" /></td>
                                    </tr>
                                    <tr>
                                        @if (limitedRoomImages.Count > 1)
                                        {
                                            <td><img src="https://localhost:7284/image/@limitedRoomImages[1].ImageUrl" class="img-fluid" /></td>
                                        }
                                        @if (limitedRoomImages.Count > 2)
                                        {
                                            <td><img src="https://localhost:7284/image/@limitedRoomImages[2].ImageUrl" class="img-fluid" /></td>
                                        }
                                        @if (limitedRoomImages.Count > 3)
                                        {
                                            <td><img src="https://localhost:7284/image/@limitedRoomImages[3].ImageUrl" class="img-fluid" /></td>
                                        }
                                    </tr>
                                </table>
                            </div>
                            <div class="col-8">
                                <table class="table w-100">
                                    <tr>
                                        <th class="col-5">設備</th>
                                        <th class="col-2">可住人數</th>
                                        <th class="col-5">今日價格</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @if (room.RoomEquipments != null)
                                            {
                                                foreach (var equipment in room.RoomEquipments.Take(8))
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa-regular fa-thumbs-up"></i> @equipment
                                                    </div>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < room.MaximumOccupancy; i++)
                                            {
                                                <i class="fa-solid fa-person"></i>
                                            }
                                        </td>
                                        <td class="align-bottom">
                                            <h3>TWD @room.RoomPrice</h3>
                                            <div style="margin-left: auto;">
                                                <button class="btn btn-outline-primary btn-lg">加入購物車</button>
                                                <button class="btn btn-primary btn-lg">立即下訂</button>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>暫無房間資訊</p>
                }
            </div>

            @*房間彈出視窗*@
            <div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-10" id="room-images" style="max-height: 400px; overflow-y: auto;">
                                    <!-- 這裡放房間圖片 -->
                                </div>
                                <div class="col-2">
                                    <h2 id="room-name"></h2>
                                    <h3>房間設備</h3>
                                    <div id="room-equipments" class="d-flex flex-column">
                                        <!-- 動態添加設備 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row w-100">
                                <div class="col-9 text-end">
                                    <h3 id="room-price"></h3>
                                </div>
                                <div class="col-3 text-end">
                                    <button class="btn btn-outline-primary btn-lg">加入購物車</button>
                                    <button class="btn btn-primary btn-lg">立即下訂</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*評論區(亭蓉做)*@
            <div id="hotel-reviews">
                <h2>評論</h2>
            </div>
            @*設施區*@
            <div id="hotel-equips">
                <h2>設施與服務</h2>
                @if (Model.HotelDetail.HotelEquipments != null && Model.HotelDetail.HotelEquipments.Any())
                {
                    foreach (var equipment in Model.HotelDetail.HotelEquipments)
                    {
                        <div>
                            <i class="fa-regular fa-circle-check">@equipment</i>
                        </div>
                    }
                }
                else
                {
                    <p>暫無設備資訊</p>
                }
            </div>

            @*周邊區*@
            <div class="row" id="hotel-map">
                <h2>飯店周邊</h2>
                <div class="col-8">
                    <img src="~/image/louieee_img/map.png" class="img-fluid" />
                </div>

                <div class="col-4">
                    <div style="display:flex;">
                        <h3>@Model.HotelDetail.HotelName</h3>
                        @for (int i = 0; i < Model.HotelDetail.LevelStar; i++)
                        {
                            <img src="~/image/louieee_img/star.png" />
                        }
                    </div>
                    <div>
                        <i class="fa-solid fa-location-dot">@Model.HotelDetail.HotelAddress</i>
                    </div>
                    <div style="display:flex;">
                        <h2>TWD @Model.HotelDetail.AverageRoomPrice</h2>
                        <a class="btn btn-primary btn-lg" href="#room-types">查看房型</a>
                    </div>

                    @* tab *@
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-toggle="tab" data-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">周邊景點</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-toggle="tab" data-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">你可能也喜歡</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        @*分頁:周邊景點*@
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div>
                                <button type="button" class="btn btn-outline-primary btn-sm">交通</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">熱門景點</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">餐廳</button>
                                <button type="button" class="btn btn-outline-primary btn-sm">購物</button>
                            </div>
                            <div class="vertical-align">
                                <i class="fa-solid fa-train">捷運: 劍潭站</i>
                                <i class="fa-solid fa-train">捷運: 劍潭站</i>
                                <i class="fa-solid fa-train">捷運: 劍潭站</i>
                            </div>
                        </div>
                        @*分頁:你可能也喜歡*@
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            @if (Model.HotelDetail.SimilarHotels != null && Model.HotelDetail.SimilarHotels.Any())
                            {
                                <div class="scrollable-container">
                                    @foreach (var hotel in Model.HotelDetail.SimilarHotels)
                                    {
                                        <div class="row mb-3">
                                            <div class="col-3">
                                                <img src="https://localhost:7284/image/@hotel.HotelImage.ImageUrl" class="img-fluid full-height-img" />
                                            </div>
                                            <div class="col-9 vertical-align">
                                                <div style="display:flex;">
                                                    <h4 class="mb-0">@hotel.HotelName</h4>
                                                    @for (int i = 0; i < hotel.LevelStar; i++)
                                                    {
                                                        <img src="~/image/louieee_img/star.png" class="ml-2" />
                                                    }
                                                </div>
                                                <span style="color:green; font-weight:700;">@hotel.AverageRatingScores /5 很好</span>
                                                <i class="fa-solid fa-location-dot">@hotel.HotelAddress</i>
                                                <span style="color:red; font-weight:700;">只剩 @hotel.AvailableRooms 間房</span>
                                                <div style="display:flex;">
                                                    <h3 class="mb-0">TWD @(hotel.AverageRoomPrice.ToString("F2"))</h3>
                                                    <a class="btn btn-primary ml-3" href="/PgHotel/pgHotel?hotelId=@hotel.HotelId">查看房型</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <p>暫無推薦資訊</p>
                            }
                        </div>

                    </div>
                </div>
            </div>

            @*推薦其他飯店*@
            <div>
                <h2>你可能也喜歡</h2>
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        @{
                            var hotelGroups = Enumerable.Range(0, 9).Select(index => new { index })
                            .GroupBy(x => x.index / 3)
                            .Select(g => g.Select(x => x.index).ToList())
                            .ToList();
                            for (int i = 0; i < hotelGroups.Count; i++)
                            {
                                        <div class="carousel-item @(i == 0 ? "active" : "")">
                                            <div class="card-deck mb-5">
                                                @foreach (var index in hotelGroups[i])
                                        {
                                            var hotel = index < Model.HotelDetail.SimilarHotels.Count ? Model.HotelDetail.SimilarHotels[index] : null;
                                                    <a href="@((hotel != null) ? ("/PgHotel/pgHotel?hotelId=" + hotel.HotelId) : "#")" class="card">
                                                        <div class="card">
                                                    <img src="@(hotel != null && hotel.HotelImage != null ? "https://localhost:7284/image/" + hotel.HotelImage.ImageUrl : "~/image/louieee_img/otherHotel01.png")" class="card-img-top" alt="Hotel Image">
                                                            <div class="card-body">
                                                                @if (hotel != null)
                                                        {
                                                                    <h5 class="card-title">@hotel.HotelName</h5>
                                                            for (int j = 0; j < hotel.LevelStar; j++)
                                                            {
                                                                        <img src="~/image/louieee_img/star.png" />
                                                            }
                                                                    <p class="card-text">
                                                                        <span>4.3/5 很好</span>
                                                                        <i class="fa-solid fa-location-dot">@hotel.HotelAddress</i>
                                                                    </p>
                                                        }
                                                        else
                                                        {
                                                                    <h5 class="card-title">占位符酒店名稱</h5>
                                                                    <p class="card-text">
                                                                        <span>占位符評論</span>
                                                                        <i class="fa-solid fa-location-dot">占位符酒店地址</i>
                                                                    </p>
                                                        }
                                                            </div>
                                                            <div class="card-footer">
                                                                <small class="text-body-secondary">只剩 @hotel?.AvailableRooms 間房</small>
                                                            </div>

                                                        </div>
                                                    </a>
                                        }
                                            </div>
                                        </div>
                            }
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

@section Styles {
    <style>
        .modal-lg {
            max-width: 90%; /* Adjust this as needed */
        }

        .vertical-align {
            display: flex;
            flex-direction: column;
            align-items: flex-start; /* Optional: Align items to the start of the container */
        }

        .carousel-control-prev,
        .carousel-control-next {
            width: 5%;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-size: 100%, 100%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5); /* Add a background color to improve visibility */
        }

        .carousel-control-prev {
            left: -10%; /* Adjust this value to move the button further left */
        }

        .carousel-control-next {
            right: -10%; /* Adjust this value to move the button further right */
        }

        .scrollable-container {
            max-height: calc(100vh - 200px); /* Increase the height of the modal body */
            overflow-y: auto; /* Enable vertical scrollbar */
            padding-right: 15px; /* Prevent scrollbar from overlaying content */
        }

        .fixed-nav {
            position: fixed;
            bottom: 20px; /* Distance from the bottom */
            right: 20px; /* Distance from the right */
            z-index: 1000; /* Ensure it's above other content */
            background-color: #fff; /* Background color */
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
            padding: 10px; /* Padding */
        }

            .fixed-nav .nav-link {
                color: #555; /* Link color */
                padding: 10px; /* Link padding */
                display: block; /* Display link as block element */
            }

                .fixed-nav .nav-link:hover {
                    background-color: #f1f1f1; /* Background color on hover */
                    border-radius: 5px; /* Rounded corners on hover */
                }

        .scrollable-images {
            max-height: 400px;
            overflow-y: auto;
        }
        #room-images img {
    max-width: 48%;
    width: 48%;
    margin: 1%;
}

    </style>
}
@section Scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            //痊癒--------------------------------------------------------
            



            //飯店描述-顯示更多
            var toggleDescription = document.getElementById('toggle-description');
            var descriptionElement = document.getElementById('description');

            if (toggleDescription && descriptionElement) {
                var isExpanded = false;
                var fullDescription = "@Html.Raw(Model.HotelDetail.HotelDescription.Replace("\n", "\\n").Replace("\r", "\\r").Replace("\"", "\\\""))";
                var shortDescription = "@Html.Raw(Model.HotelDetail.HotelDescription.Length > 100 ? Model.HotelDetail.HotelDescription.Substring(0, 100) + "..." : Model.HotelDetail.HotelDescription)";

                toggleDescription.addEventListener('click', function (e) {
                    e.preventDefault();
                    if (isExpanded) {
                        descriptionElement.textContent = shortDescription;
                        toggleDescription.textContent = '顯示更多';
                    } else {
                        descriptionElement.textContent = fullDescription;
                        toggleDescription.textContent = '顯示更少';
                    }
                    isExpanded = !isExpanded;
                });
            }


            //你可能也喜歡-輪播
            $(document).ready(function () {
                $('#carouselExampleControls').carousel({
                    interval: false // 禁用自动轮播
                });

                $('#carouselExampleControls').on('slide.bs.carousel', function (e) {
                    var $e = $(e.relatedTarget);
                    var idx = $e.index();
                    var itemsPerSlide = 3;
                    var totalItems = $('.carousel-item').length;

                    if (idx >= totalItems - (itemsPerSlide - 1)) {
                        var it = itemsPerSlide - (totalItems - idx);
                        for (var i = 0; i < it; i++) {
                            // append slides to end
                            if (e.direction === "left") {
                                $('.carousel-item').eq(i).appendTo('.carousel-inner');
                            } else {
                                $('.carousel-item').eq(0).appendTo('.carousel-inner');
                            }
                        }
                    }
                });
            });

            

            //飯店彈出視窗-查看房型
            window.scrollToRoomTypes = function () {
                var roomTypesElement = document.getElementById('room-types');
                var hotelModal = document.getElementById('hotelModal');

                if (roomTypesElement && hotelModal) {
                    // 添加事件监听器以在模态框完全隐藏后滚动到目标元素
                    hotelModal.addEventListener('hidden.bs.modal', function () {
                        roomTypesElement.scrollIntoView({ behavior: 'smooth' });
                    }, { once: true });

                    // 关闭模态框
                    var modalInstance = bootstrap.Modal.getInstance(hotelModal);
                    if (modalInstance) {
                        modalInstance.hide();
                    }
                }
            };

            

            

            //導覽列-避免被遮住
            const links = document.querySelectorAll('.this-page-nav-link');

            links.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const targetId = this.getAttribute('href').substring(1);
                    const targetElement = document.getElementById(targetId);

                    if (targetElement) {
                        const offset = 100; // 调整偏移量，根据您的实际情况设置
                        const elementPosition = targetElement.getBoundingClientRect().top;
                        const offsetPosition = elementPosition + window.pageYOffset - offset;

                        window.scrollTo({
                            top: offsetPosition,
                            behavior: 'smooth'
                        });
                    }
                });
            });

            //房間彈出視窗
            
                var roomModal = document.getElementById('roomModal');
                var roomNameElement = document.getElementById('room-name');
                var roomEquipmentsElement = document.getElementById('room-equipments');
                var roomPriceElement = document.getElementById('room-price');
                var roomImagesElement = document.getElementById('room-images');

                var roomItems = document.querySelectorAll('.room-item');
                roomItems.forEach(function (roomItem) {
                    roomItem.addEventListener('click', function () {
                        var roomName = roomItem.getAttribute('data-room-name');
                        var roomPrice = roomItem.getAttribute('data-room-price');
                        var roomEquipments = JSON.parse(roomItem.getAttribute('data-room-equips'));
                        var roomImages = JSON.parse(roomItem.getAttribute('data-room-images'));

                        roomNameElement.textContent = roomName;
                        roomPriceElement.textContent = 'TWD ' + parseFloat(roomPrice).toFixed(2);

                        roomEquipmentsElement.innerHTML = '';
                        roomEquipments.forEach(function (equip) {
                            var equipElement = document.createElement('div');
                            equipElement.classList.add('d-flex', 'align-items-center');
                            equipElement.innerHTML = '<i class="fa-regular fa-thumbs-up"></i> ' + equip;
                            roomEquipmentsElement.appendChild(equipElement);
                        });

                        roomImagesElement.innerHTML = '';
                        for (var i = 0; i < roomImages.length; i += 2) {
                            var rowElement = document.createElement('div');
                            rowElement.classList.add('d-flex', 'flex-row', 'mb-2');

                            for (var j = 0; j < 2; j++) {
                                if (i + j < roomImages.length) {
                                    var imgElement = document.createElement('img');
                                    imgElement.src = 'https://localhost:7284/image/' + roomImages[i + j].ImageUrl;
                                    imgElement.classList.add('img-fluid', 'p-2');
                                    rowElement.appendChild(imgElement);
                                }
                            }

                            roomImagesElement.appendChild(rowElement);
                        }
                    });
                });
            

        });

        function smoothScroll(targetId) {
            console.log(targetId)
            const targetEle = document.getElementById(targetId)
            if (targetEle) {
                window.scrollTo({
                    top: targetEle.offsetTop,
                    behavior: 'smooth'
                })
            }
        }

    </script>

}



