﻿@using PrjFunNowWeb.Models.louie_dto
@{
    ViewData["Title"] = "pgHotel";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PrjFunNowWeb.Models.louie_viewmodel.pgHotel_HotelDetailViewModel

<!-- 插入聊天室的Partial View -->
@Html.Partial("~/Views/Chat/Mailroom.cshtml")

@*=================================使用OPENSTREETMAP=====================================*@
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"></script>
@*=================================使用OPENSTREETMAP=====================================*@

 <link href="~/css/joanna_css/styles.b13b175880f4995b.css" rel="stylesheet"  />
<link rel="stylesheet" href="~/dist/fun-now-angular1/styles.b13b175880f4995b.css" />

<div class="container mt-5 pt-5" id="top">
    <div class="row">
        <div>
            @*麵包屑*@
            <div>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="https://localhost:7284/home/index" style="color:blue;">首頁</a></li>
                        <li class="breadcrumb-item"><a href="https://localhost:7284/home/index2?searchValue= @(Model.HotelDetail.CountryName)" style="color:blue;">@Model.HotelDetail.CountryName</a></li>
                        <li class="breadcrumb-item"><a href="https://localhost:7284/home/index2?searchValue= @(Model.HotelDetail.CityName)" style="color:blue;">@Model.HotelDetail.CityName</a></li>
                        <li class="breadcrumb-item active">@Model.HotelDetail.HotelName</li>
                    </ol>
                </nav>
            </div>

            @*飯店介紹區*@
            <div class="round-edge-container">
                @*飯店介紹區-第一層*@
                <div class="row">
                    <div class="col-8">
                        <div style="display:flex;">
                            <input type="hidden" id="hotel-id" value="@Model.HotelDetail.HotelID" />
                            <h2>@Model.HotelDetail.HotelName</h2>
                            @for (int i = 0; i < Model.HotelDetail.LevelStar; i++)
                            {
                                <img src="~/image/louieee_img/star.png" />
                            }
                        </div>
                        <div style="display:flex;">
                            <i class="fa-solid fa-location-dot">@Model.HotelDetail.HotelAddress</i>
                            <a class="link-offset-2 link-underline link-underline-opacity-75" href="#hotel-map">在地圖上顯示</a>
                        </div>
                        <div style="display:flex;">
                            <i class="fa-solid fa-hotel"></i>
                            <p id="description">
                                @if (!string.IsNullOrEmpty(Model.HotelDetail.HotelDescription) && Model.HotelDetail.HotelDescription.Length > 100)
                                {
                                    @(Model.HotelDetail.HotelDescription.Substring(0, 100) + "...")
                                }
                                else
                                {
                                    @Model.HotelDetail.HotelDescription
                                }
                            </p>
                            <a class="link-offset-2 link-underline link-underline-opacity-75" href="#hotel-equips" id="toggle-description">
                                @if (!string.IsNullOrEmpty(Model.HotelDetail.HotelDescription) && Model.HotelDetail.HotelDescription.Length > 100)
                                {
                                    @("顯示更多")
                                }
                            </a>
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <h2>TWD @Model.HotelDetail.AverageRoomPrice</h2>
                        <a class="btn btn-primary btn-lg" href="#room-types">查看房型</a>
                    </div>
                </div>
                @*飯店介紹區-第二層*@
                <div class="row">
                    <div class="col-4 d-flex align-items-stretch" data-bs-toggle="modal" data-bs-target="#hotelModal">
                        @if (Model.HotelDetail.HotelImages != null && Model.HotelDetail.HotelImages.Any())//第1張大圖
                        {
                            var ImageUrl = Model.HotelDetail.HotelImages.First().ImageUrl;
                            bool isExternalUrl = ImageUrl.StartsWith("http");

                            <img src="@(isExternalUrl ? ImageUrl : "https://localhost:7284/image/" + ImageUrl)" class="img-fluid" />
                        }
                        else
                        {
                            <img src="~/image/louieee_img/default-picture.jpg" class="img-fluid" />
                        }
                    </div>
                    <div class="col-8">
                        <table data-bs-toggle="modal" data-bs-target="#hotelModal">
                            @if (Model.HotelDetail.HotelImages != null && Model.HotelDetail.HotelImages.Count > 1)
                            {
                                var images = Model.HotelDetail.HotelImages.Skip(1).Take(6).ToList(); // 第2-7張圖, 少幾張就補幾張預設
                                int imageCount = images.Count;
                                for (int i = 0; i < 6; i += 3)
                                {
                                    <tr>
                                        @for (int j = 0; j < 3; j++)
                                        {
                                            if (i + j < imageCount)
                                            {
                                                var imageUrl = images[i + j].ImageUrl;
                                                bool isExternalUrl = imageUrl.StartsWith("http");

                                                <td class="imageBox">
                                                    <img src="@(isExternalUrl ? imageUrl : "https://localhost:7284/image/" + imageUrl)" class="img-fluid" />
                                                </td>
                                            }
                                            else
                                            {
                                                <td class="imageBox">
                                                    <img src="~/image/louieee_img/default-picture.jpg" class="img-fluid" />
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                            else
                            {
                                for (int i = 0; i < 6; i += 3)
                                {
                                    <tr>
                                        @for (int j = 0; j < 3; j++)
                                        {
                                            <td class="imageBox">
                                                <img src="~/image/louieee_img/default-picture.jpg" class="img-fluid" />
                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
                @*飯店介紹區-第三層*@
                <div class="row">
                    <div class="col-6">
                        <h3>評論</h3>@*亭蓉做*@

               
                    </div>
                    <div class="col-4 d-flex flex-column">
                        <h3>設施與服務</h3>
                        <table>
                            @{
                                var hotelEquipments = Model.HotelDetail.HotelEquipments.Take(6).ToList();
                                var rows = (int)Math.Ceiling(hotelEquipments.Count / 3.0);
                            }
                            @for (int i = 0; i < rows; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < 3; j++)
                                    {
                                        var index = i * 3 + j;
                                        if (index < hotelEquipments.Count)
                                        {
                                            <td> <i class="fa-regular fa-circle-check">@hotelEquipments[index]</i></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    }
                                </tr>
                            }
                        </table>
                        <a class="link-offset-2 link-underline link-underline-opacity-75 align-self-end" href="#hotel-equips">所有設施></a>
                    </div>
                    <div class="col-2">
                        <h3>飯店周邊</h3>
                        <div class="row align-items-end">
                            <a href="#hotel-map">
                                <img src="~/image/louieee_img/map.png"  />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            @*飯店彈出視窗*@
            <div class="modal fade" id="hotelModal" tabindex="-1" aria-labelledby="hotelModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <ul class="nav nav-underline">
                                @{
                                    var hotelImages = Model.HotelDetail.HotelImages ?? new List<pgHotel_ImageDTO>();
                                    var roomImages = Model.HotelDetail.Rooms?.SelectMany(r => r.RoomImages) ?? new List<pgHotel_ImageDTO>();
                                    var allImages = hotelImages.Concat(roomImages);

                                    var categories = allImages
                                    .GroupBy(img => img.ImageCategoryID)
                                    .OrderBy(g => g.Key)
                                    .ToList();

                                    foreach (var category in categories)
                                    {
                                        var categoryName = category.First().ImageCategoryName;
                                        <li class="nav-item">
                                            <a class="nav-link hotel-modal-nav-link" onclick="smoothScroll('category-@category.Key')">@categoryName</a>
                                        </li>
                                    }
                                }
                            </ul>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-9 scrollable-container">
                                    <div class="d-flex flex-wrap">
                                        @{
                                            foreach (var category in categories)
                                            {
                                                var isFirstImage = true;
                                                var imageIndex = 0;
                                                var imageCount = category.Count();
                                                foreach (var image in category)
                                                {
                                                    var imageUrl = image.ImageUrl;
                                                    if (!imageUrl.StartsWith("http"))
                                                    {
                                                        imageUrl = $"https://localhost:7284/image/{imageUrl}";
                                                    }

                                                    // Determine if this is the start of a new row
                                                    bool isNewRow = imageIndex % 2 == 0;

                                                    // Check if it's the last image in the category and if it should move to the next line
                                                    bool isLastImage = imageIndex == imageCount - 1;

                                                    if (isNewRow && !isFirstImage)
                                                    {
                                                        <div class="w-100"></div> <!-- Move to the next line -->
                                                    }

                                                    <div class="p-2" style="flex: 0 0 50%;">
                                                        <img src="@imageUrl" class="img-fluid" alt="Hotel Image"
                                                        @(isFirstImage ? $"id=category-{image.ImageCategoryID}" : "") />
                                                        @{
                                                            isFirstImage = false;
                                                        }
                                                    </div>

                                                    if (isLastImage && (imageIndex + 1) % 2 == 1)
                                                    {
                                                        <div class="w-50"></div> <!-- Empty div to ensure the last image does not stretch -->
                                                    }

                                                    imageIndex++;
                                                }
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-3 fixed-sidebar">
                                    <h3>@Model.HotelDetail.HotelName</h3>
                                    <h4>設施與服務</h4>
                                    <div class="d-flex flex-column">
                                        @foreach (var equipment in Model.HotelDetail.HotelEquipments)
                                        {
                                            <i class="fa-regular fa-circle-check">@equipment</i>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-end align-items-center">
                            <h3 class="mb-0">TWD @(Model.HotelDetail.AverageRoomPrice.ToString("F2"))</h3>
                            <button class="btn btn-primary btn-lg ml-3">查看房型</button>
                        </div>
                    </div>
                </div>
            </div>

            @*飯店導覽列*@
            <ul class="nav nav-underline fixed-nav">
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#room-types">房型</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#hotel-reviews">評論</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#hotel-equips">設施</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#hotel-map">周邊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link this-page-nav-link" href="#top"><i class="fa-solid fa-up-long"></i></a>
                </li>
            </ul>

            @*房型區--自動生成*@
            <div class="container mt-5 pt-5" id="room-types" data-id="{}">
                <h2>所有房型</h2>
                @if (Model.HotelDetail.Rooms != null && Model.HotelDetail.Rooms.Any())
                {
                    @foreach (var room in Model.HotelDetail.Rooms)
                    {
                        var limitedRoomImages = room.RoomImages?.Take(4).ToList() ?? new List<pgHotel_ImageDTO>();
                        int imageCount = limitedRoomImages.Count;
                        <div class="row room-item round-edge-container @(room.IsBooked ? "booked" : "")" data-room-id="@room.RoomId" data-room-name="@room.RoomName" data-room-price="@room.RoomPrice" data-room-equips="@Newtonsoft.Json.JsonConvert.SerializeObject(room.RoomEquipments)" data-room-images="@Newtonsoft.Json.JsonConvert.SerializeObject(room.RoomImages)">
                            <h3 data-bs-toggle="modal" data-bs-target="#roomModal">@room.RoomName</h3>
                            <div class="col-4">
                                <table data-bs-toggle="modal" data-bs-target="#roomModal">
                                    <tr>
                                        @if (imageCount > 0)
                                        {
                                            var imageUrl = limitedRoomImages[0].ImageUrl;
                                            bool isExternalUrl = imageUrl.StartsWith("http");
                                            <td colspan="3" class="imageBox"><img src="@(isExternalUrl ? imageUrl : "https://localhost:7284/image/" + imageUrl)" class="img-fluid" /></td>
                                        }
                                        else
                                        {
                                            <td colspan="3" class="imageBox"><img src="~/image/louieee_img/default-picture.jpg" class="img-fluid" /></td>
                                        }
                                    </tr>
                                    <tr>
                                        @for (int i = 1; i < 4; i++)
                                        {
                                            if (i < imageCount)
                                            {
                                                var imageUrl = limitedRoomImages[i].ImageUrl;
                                                bool isExternalUrl = imageUrl.StartsWith("http");
                                                <td class="imageBox"><img src="@(isExternalUrl ? imageUrl : "https://localhost:7284/image/" + imageUrl)" class="img-fluid" /></td>
                                            }
                                            else
                                            {
                                                <td class="imageBox"><img src="~/image/louieee_img/default-picture.jpg" class="img-fluid" /></td>
                                            }
                                        }
                                    </tr>
                                </table>
                            </div>
                            <div class="col-8">
                                <table class="w-100 table">
                                    <tr>
                                        <th class="col-5">設備</th>
                                        <th class="col-2">可住人數</th>
                                        <th class="col-5">今日價格</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            @if (room.RoomEquipments != null)
                                            {
                                                foreach (var equipment in room.RoomEquipments.Take(8))
                                                {
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa-regular fa-thumbs-up"></i> @equipment
                                                    </div>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < room.MaximumOccupancy; i++)
                                            {
                                                <i class="fa-solid fa-person"></i>
                                            }
                                        </td>
                                        <td class="align-bottom">
                                            <h3>TWD @room.RoomPrice</h3>
                                            <div style="margin-left: auto;">
                                                @if (room.IsBooked)
                                                {
                                                    <button class="btn btn-outline-primary btn-lg addCart" data-id="@room.RoomId" disabled>加入購物車</button>
                                                    <button class="btn btn-primary btn-lg directBuy" data-roomid="" disabled>立即下訂</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-outline-primary btn-lg addCart" data-id="@room.RoomId">加入購物車</button>
                                                    <button class="btn btn-primary btn-lg directBuy" data-roomid="">立即下訂</button>
                                                }
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                @if (room.IsBooked)
                                {
                                    <div class="booked-overlay">
                                        <img src="~/image/louieee_img/booked.png" alt="Booked" />
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>暫無房間資訊</p>
                }
            </div>



            @*房間彈出視窗*@
            <div class="modal fade" id="roomModal" tabindex="-1" aria-labelledby="roomModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-10" id="room-images" style="max-height: 400px; overflow-y: auto;">
                                    <!-- 這裡放房間圖片 -->
                                </div>
                                <div class="col-2">
                                    <h2 id="room-name"></h2>
                                    <h3>房間設備</h3>
                                    <div id="room-equipments" class="d-flex flex-column">
                                        <!-- 動態添加設備 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="row w-100">
                                <div class="col-9 text-end">
                                    <h3 id="room-price"></h3>
                                </div>
                                <div class="col-3 text-end">
                                    <button class="btn btn-outline-primary btn-lg">加入購物車</button>
                                    <button class="btn btn-primary btn-lg">立即下訂</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*評論區(亭蓉做)*@
            <div id="hotel-reviews">
                <h2>評論</h2>
                <div class="round-edge-container">

                    <hotel-comment-element></hotel-comment-element>
                    <a href="@Url.Action("Angular_comment_page", "Comment", new {
                       hotelId = Model.HotelDetail.HotelID,
                       checkInDate = Model.HotelDetail.CheckInDate,
                       checkOutDate =Model.HotelDetail.CheckOutDate
                      })" class="d-flex justify-content-center">顯示更多評論</a>
                </div>                                        
         
                s
             @*設施區*@
            <div id="hotel-equips">
                <h2>設施與服務</h2>
                <div class="round-edge-container">
                    @if (Model.HotelDetail.HotelEquipments != null && Model.HotelDetail.HotelEquipments.Any())
                    {

                        foreach (var equipment in Model.HotelDetail.HotelEquipments)
                        {
                            <div>
                                <i class="fa-regular fa-circle-check">@equipment</i>
                            </div>
                        }

                    }
                    else
                    {
                        <p>暫無設備資訊</p>
                    }
                </div>
            </div>
            @* 周邊區 *@
            <div class="hotel-detail-container" id="hotel-map">
                <h2>飯店周邊</h2>
                <div class="row round-edge-container" >
                    <div class="col-8 p-0" style="position: relative;">
                        <div id="openstreet-map" style="height: 500px; width: 100%;"></div>
                    </div>
                    <div class="col-4">
                        <div class="hotel-info">
                            <div class="hotel-header">
                                <h3 id="hotel-name">@Model.HotelDetail.HotelName</h3>
                                <input type="hidden" id="hotel-latitude" value="@Model.HotelDetail.Latitude" />
                                <input type="hidden" id="hotel-longitude" value="@Model.HotelDetail.Longitude" />
                                @for (int i = 0; i < Model.HotelDetail.LevelStar; i++)
                                {
                                    <img src="~/image/louieee_img/star.png" />
                                }
                            </div>
                            <div class="hotel-address">
                                <i class="fa-solid fa-location-dot">@Model.HotelDetail.HotelAddress</i>
                            </div>
                            <div class="hotel-price">
                                <h2>TWD @Model.HotelDetail.AverageRoomPrice</h2>
                                <a class="btn btn-primary btn-lg" href="#room-types">查看房型</a>
                            </div>
                        </div>
                        <div>
                            <h4>你可能也喜歡</h4>
                            @if (Model.HotelDetail.SimilarHotels != null && Model.HotelDetail.SimilarHotels.Any())
                            {
                                <div class="scrollable-container">
                                    @foreach (var hotel in Model.HotelDetail.SimilarHotels)
                                    {
                                        <div class="row mb-3 similar-hotel" id="hotel-@hotel.HotelId" style="border: 1px solid #ddd; border-radius: 10px; padding: 10px;">
                                            <div class="col-3 p-0">
                                                @{
                                                    var imageUrl = hotel.HotelImage?.ImageUrl ?? "/image/louieee_img/default-picture.jpg";
                                                    if (!imageUrl.StartsWith("http") && imageUrl != "/image/louieee_img/default-picture.jpg")
                                                    {
                                                        imageUrl = $"https://localhost:7284/image/{imageUrl}";
                                                    }
                                                }
                                                <img src="@imageUrl" class="img-fluid full-height-img" style="width: 100%; height: 100%; object-fit: cover;" onerror="this.onerror=null;this.src='/image/louieee_img/otherHotel01.png';" />
                                            </div>
                                            <div class="col-9 vertical-align">
                                                <div style="display:flex; align-items: center;">
                                                    <h4 class="mb-0 mr-2 hotel-name">@hotel.HotelName</h4>
                                                    <input type="hidden" class="hotel-latitude" value="@hotel.Latitude" />
                                                    <input type="hidden" class="hotel-longitude" value="@hotel.Longitude" />
                                                    <div style="display: flex;">
                                                        @for (int i = 0; i < hotel.LevelStar; i++)
                                                        {
                                                            <img src="~/image/louieee_img/star.png" class="ml-1" style="width: 20px; height: 20px;" />
                                                        }
                                                    </div>
                                                </div>
                                                <span style="background-color:green; color:white; font-weight:700;">@hotel.AverageRatingScores /10 超讚</span>
                                                <i class="fa-solid fa-location-dot d-block mt-2">@hotel.HotelAddress</i>
                                                <span style="color:red; text-decoration:underline; font-weight:700;">只剩 @hotel.AvailableRooms 間房!!!</span>
                                                <div style="display:flex; align-items: center; margin-top: 10px;">
                                                    <h3 class="mb-0 mr-3">TWD @(hotel.AverageRoomPrice.ToString("F2"))</h3>
                                                    <a class="btn btn-primary" href="/PgHotel/pgHotel?hotelId=@(hotel.HotelId)&checkInDate=@(Model.HotelDetail.CheckInDate)&checkOutDate=@(Model.HotelDetail.CheckOutDate)">查看房型</a>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                            else
                            {
                                <p>暫無推薦資訊</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 購物車modal -->
<div class="cartModal"></div>

@section Styles {
   <style> 
        .modal-lg {
            max-width: 90%; /* Adjust this as needed */
        }

        .vertical-align {
            display: flex;
            flex-direction: column;
            align-items: flex-start; /* Optional: Align items to the start of the container */
        }

        .carousel-control-prev,
        .carousel-control-
        {
            width: 5%;
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            background-size: 100%, 100%;
            border-radius: 50%;
            background-color: rgba(0, 0, 0, 0.5); /* Add a background color to improve visibility */
        }

        .carousel-control-prev {
            left: -10%; /* Adjust this value to move the button further left */
        }

        .carousel-control-next {
            right: -10%; /* Adjust this value to move the button further right */
        }

        .scrollable-container {
            max-height: calc(100vh - 200px); /* Increase the height of the modal body */
            overflow-y: auto; /* Enable vertical scrollbar */
            padding-right: 15px; /* Prevent scrollbar from overlaying content */
        }

        .fixed-nav {
            position: fixed;
            bottom: 20px; /* Distance from the bottom */
            right: 20px; /* Distance from the right */
            z-index: 1000; /* Ensure it's above other content */
            background-color: #fff; /* Background color */
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
            padding: 10px; /* Padding */
        }

            .fixed-nav .nav-link {
                color: #555; /* Link color */
                padding: 10px; /* Link padding */
                display: block; /* Display link as block element */
            }

                .fixed-nav .nav-link:hover {
                    background-color: #f1f1f1; /* Background color on hover */
                    border-radius: 5px; /* Rounded corners on hover */
                }

        .scrollable-images {
            max-height: 400px;
            overflow-y: auto;
        }

        #room-images img {
            max-width: 48%;
            width: 48%;
            margin: 1%;
        }

        .scrollable-container {
            max-height: 400px; /* 设置合适的高度 */
            overflow-y: auto; /* 仅启用垂直滚动 */
            overflow-x: hidden; /* 禁用水平滚动 */
            padding-right: 15px; /* 防止滚动条遮盖内容 */
        }

        .round-edge-container {
            border-radius: 15px; /* 圆角 */
            background-color: #f8f9fa; /* 背景色，与页面背景区分 */
            padding: 20px; /* 内边距，避免内容紧贴边框 */
            margin-bottom: 20px; /* 底部外边距，确保与下方内容区分开 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影，增强层次感 */
        }

        .hotel-info {
            padding: 20px;
        }

        .hotel-header {
            display: flex;
            align-items: center;
        }

            .hotel-header h3 {
                margin-right: 10px;
            }

        .hotel-address {
            margin-top: 10px;
        }

        .hotel-price {
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }


        /*  購物車modal */
        .cartModal .modal.right .modal-dialog {
            position: fixed;
            top: 0;
            right: 0;
            margin: 0;
            height: 100%;
            max-height: 100%;
            width: 375px;
            transform: translateX(100%);
            transition: transform 0.3s ease-out;
            display: flex;
            flex-direction: column;
        }

        .cartModal .modal.right.show .modal-dialog {
            transform: translateX(0);
        }

        .cartModal .modal-content {
            height: 100%;
            border-radius: 0;
            display: flex;
            flex-direction: column;
        }

        .cartModal .modal-header {
            flex-shrink: 0;
        }

        .cartModal .modal-body {
            flex-grow: 1;
            height: 200px;
        }

        .cartModal .modal-footer {
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            height: 500px;
        }

        .cartModal .modal-backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }

        .cartModal .modal-open {
            overflow: hidden;
        }

            .cartModal .modal-open .modal-backdrop {
                opacity: 0.5;
            }

        .cartModal .modal-header h5 {
            font-size: 1.25rem;
        }

        .cartModal .modal-body img {
            border-radius: 5px;
            width: 56px;
            height: 56px;
        }

        .cartModal .modal-body .room-info {
            margin-left: 10px;
        }

        .cartModal .modal-footer .btn {
            width: 80%;
            margin-bottom: 10px;
            transition: opacity 0.3s ease;
        }

            .cartModal .modal-footer .btn:hover {
                opacity: 0.7; 
            }

        .cartModal .modal-footer .note {
            color: red;
            font-weight: bold;
        }

        /* Img設定-偉成神救援 */

        .imageBox {
            width: 33%;
        }

        .img-fluid {
            width: 100%;
            height: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
        }

        #openstreet-map {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .similar-hotel.hover {
            background-color: #f0f0f0;
            transition: background-color 0.3s;
        }


        .booked {
            position: relative;
            opacity: 0.5;
            pointer-events: none;
        }

        .booked-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .booked-overlay img {
                max-width: 100%;
                max-height: 100%;
            }





        
    </style>
}
@section Scripts {

    <script>
        document.addEventListener('DOMContentLoaded', function () {
        

        //==================================使用OPENSTREETMAP=====================================
        
        // 为了保持一致性并减少在客户端和服务器端之间传递的数据，我们可以在JavaScript中抓取已经生成的DOM对象的数据，
        // 而不是在JavaScript中再次使用@model。这样可以减少服务器负担，并且代码更简洁。

                // Haversine formula to calculate the distance between two points
                function calculateDistance(lat1, lon1, lat2, lon2) {
                    const R = 6371; // Radius of the Earth in km
                    const dLat = (lat2 - lat1) * Math.PI / 180;
                    const dLon = (lon2 - lon1) * Math.PI / 180;
                    const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                        Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                        Math.sin(dLon / 2) * Math.sin(dLon / 2);
                    const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                    return R * c;
                }

                // 获取当前饭店的纬度和经度
                var hotelLatitude = parseFloat(document.getElementById("hotel-latitude").value);
                var hotelLongitude = parseFloat(document.getElementById("hotel-longitude").value);
                var hotelName = document.getElementById("hotel-name").textContent;

                // 初始化地图
                var map = L.map('openstreet-map').setView([hotelLatitude, hotelLongitude], 10);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap',
                    zoomControl: true,
                }).addTo(map);

                // 自定义图标
                const customIcon = L.icon({
                    iconUrl: 'https://cdn1.iconfinder.com/data/icons/everyday-2/64/Flat_Internet_onwork-16-256.png',
                    iconSize: [42, 42],
                });

                // 添加当前饭店的标记
                var hotelMarker = L.marker([hotelLatitude, hotelLongitude], {
                    icon: customIcon,
                    title: hotelName,
                    opacity: 1.0
                }).addTo(map);

                hotelMarker.bindPopup("<b>" + hotelName + "</b>");

                // 获取相似饭店的标记数据并保存地标引用
                var similarHotels = document.querySelectorAll(".similar-hotel");
                var markers = [];

                similarHotels.forEach(function (hotel) {
                    var similarHotelLatitude = parseFloat(hotel.querySelector(".hotel-latitude").value);
                    var similarHotelLongitude = parseFloat(hotel.querySelector(".hotel-longitude").value);
                    var similarHotelName = hotel.querySelector(".hotel-name").textContent;

                    if (!isNaN(similarHotelLatitude) && !isNaN(similarHotelLongitude)) {
                        var similarHotelMarker = L.marker([similarHotelLatitude, similarHotelLongitude], {
                            title: similarHotelName,
                            opacity: 1.0
                        }).addTo(map);

                        similarHotelMarker.bindPopup("<b>" + similarHotelName + "</b>");
                        markers.push({ marker: similarHotelMarker, element: hotel });

                        let polyline;

                        // 添加地标的悬停事件
                        similarHotelMarker.on('mouseover', function () {
                            similarHotelMarker.openPopup();
                            hotel.classList.add('hover');

                            // 计算距离
                            var distance = calculateDistance(hotelLatitude, hotelLongitude, similarHotelLatitude, similarHotelLongitude);
                            similarHotelMarker.bindPopup("<b>" + similarHotelName + "</b><br>與當前飯店距離: " + distance.toFixed(2) + "公里").openPopup();

                            // 绘制路线
                            polyline = L.polyline([
                                [hotelLatitude, hotelLongitude],
                                [similarHotelLatitude, similarHotelLongitude]
                            ], { color: 'blue' }).addTo(map);

                            // 滚动到对应的饭店列表项
                            hotel.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
                        });

                        similarHotelMarker.on('mouseout', function () {
                            similarHotelMarker.closePopup();
                            if (polyline) {
                                map.removeLayer(polyline);
                            }
                            hotel.classList.remove('hover');
                        });

                        // 右侧列表的悬停事件
                        hotel.addEventListener("mouseenter", function () {
                            similarHotelMarker.openPopup();
                            hotel.classList.add('hover');

                            // 计算距离
                            var distance = calculateDistance(hotelLatitude, hotelLongitude, similarHotelLatitude, similarHotelLongitude);
                            similarHotelMarker.bindPopup("<b>" + similarHotelName + "</b><br>與當前飯店距離: " + distance.toFixed(2) + "公里").openPopup();

                            // 绘制路线
                            polyline = L.polyline([
                                [hotelLatitude, hotelLongitude],
                                [similarHotelLatitude, similarHotelLongitude]
                            ], { color: 'blue' }).addTo(map);

                            // 滚动到对应的饭店列表项
                            hotel.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
                        });

                        hotel.addEventListener("mouseleave", function () {
                            similarHotelMarker.closePopup();
                            if (polyline) {
                                map.removeLayer(polyline);
                            }
                            hotel.classList.remove('hover');
                        });
                    }
                });

                // 添加悬停事件监听器
                markers.forEach(function (item) {
                    item.element.addEventListener("mouseenter", function () {
                        item.marker.openPopup();
                        item.element.classList.add('hover');
                        // 滚动到对应的饭店列表项
                        item.element.scrollIntoView({ behavior: 'smooth', block: 'nearest' });
                    });

                    item.element.addEventListener("mouseleave", function () {
                        item.marker.closePopup();
                        item.element.classList.remove('hover');
                    });
                });

        //==================================使用OPENSTREETMAP=====================================

        //思璇------------------------------------------------------------------------------------
            //飯店描述-顯示更多
            var toggleDescription = document.getElementById('toggle-description');
            var descriptionElement = document.getElementById('description');

            if (toggleDescription && descriptionElement) {
                var isExpanded = false;
                var fullDescription = "@Html.Raw(Model.HotelDetail.HotelDescription.Replace("\n", "\\n").Replace("\r", "\\r").Replace("\"", "\\\""))";
                var shortDescription = "@Html.Raw(Model.HotelDetail.HotelDescription.Length > 100 ? Model.HotelDetail.HotelDescription.Substring(0, 100) + "..." : Model.HotelDetail.HotelDescription)";

                toggleDescription.addEventListener('click', function (e) {
                    e.preventDefault();
                    if (isExpanded) {
                        descriptionElement.textContent = shortDescription;
                        toggleDescription.textContent = '顯示更多';
                    } else {
                        descriptionElement.textContent = fullDescription;
                        toggleDescription.textContent = '顯示更少';
                    }
                    isExpanded = !isExpanded;
                });
            }

            //飯店彈出視窗-查看房型
            window.scrollToRoomTypes = function () {
                var roomTypesElement = document.getElementById('room-types');
                var hotelModal = document.getElementById('hotelModal');

                if (roomTypesElement && hotelModal) {
                    // 添加事件监听器以在模态框完全隐藏后滚动到目标元素
                    hotelModal.addEventListener('hidden.bs.modal', function () {
                        roomTypesElement.scrollIntoView({ behavior: 'smooth' });
                    }, { once: true });

                    // 关闭模态框
                    var modalInstance = bootstrap.Modal.getInstance(hotelModal);
                    if (modalInstance) {
                        modalInstance.hide();
                    }
                }
            };

            //導覽列-避免被遮住
            const links = document.querySelectorAll('.this-page-nav-link');

            links.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();
                    const targetId = this.getAttribute('href').substring(1);
                    const targetElement = document.getElementById(targetId);

                    if (targetElement) {
                        const offset = 100; // 调整偏移量，根据您的实际情况设置
                        const elementPosition = targetElement.getBoundingClientRect().top;
                        const offsetPosition = elementPosition + window.pageYOffset - offset;

                        window.scrollTo({
                            top: offsetPosition,
                            behavior: 'smooth'
                        });
                    }
                });
            });

            //房間彈出視窗
            var roomModal = document.getElementById('roomModal');
            var roomNameElement = document.getElementById('room-name');
            var roomEquipmentsElement = document.getElementById('room-equipments');
            var roomPriceElement = document.getElementById('room-price');
            var roomImagesElement = document.getElementById('room-images');

            var roomItems = document.querySelectorAll('.room-item');
            roomItems.forEach(function (roomItem) {
                roomItem.addEventListener('click', function () {
                    var roomName = roomItem.getAttribute('data-room-name');
                    var roomPrice = roomItem.getAttribute('data-room-price');
                    var roomEquipments = JSON.parse(roomItem.getAttribute('data-room-equips'));
                    var roomImages = JSON.parse(roomItem.getAttribute('data-room-images'));

                    roomNameElement.textContent = roomName;
                    roomPriceElement.textContent = 'TWD ' + parseFloat(roomPrice).toFixed(2);

                    roomEquipmentsElement.innerHTML = '';
                    roomEquipments.forEach(function (equip) {
                        var equipElement = document.createElement('div');
                        equipElement.classList.add('d-flex', 'align-items-center');
                        equipElement.innerHTML = '<i class="fa-regular fa-thumbs-up"></i> ' + equip;
                        roomEquipmentsElement.appendChild(equipElement);
                    });

                    roomImagesElement.innerHTML = '';
                    for (var i = 0; i < roomImages.length; i += 2) {
                        var rowElement = document.createElement('div');
                        rowElement.classList.add('d-flex', 'flex-row', 'mb-2');

                        for (var j = 0; j < 2; j++) {
                            if (i + j < roomImages.length) {
                                var imgElement = document.createElement('img');
                                var imageUrl = roomImages[i + j].ImageUrl;
                                if (!imageUrl.startsWith("http")) {
                                    imageUrl = 'https://localhost:7284/image/' + imageUrl;
                                }
                                imgElement.src = imageUrl;
                                imgElement.classList.add('img-fluid', 'p-2');
                                rowElement.appendChild(imgElement);
                            }
                        }

                        roomImagesElement.appendChild(rowElement);
                    }
                });
            });

            //歐哲------------------------------------------------------------------------------------
            //購物車
            $('.addCart').on('click', async function () {
                let memberID;
                //判定是否有登入
                try {
                    const getMemberIdUrl = '@Url.Content("~/GetMember/GetMemberId")';
                    const memberResponse = await fetch(getMemberIdUrl);

                    if (!memberResponse.ok) {
                        throw new Error('未登入或獲取 MemberID 失敗');
                    }

                    const memberData = await memberResponse.json();
                    memberID = memberData.memberID;
                  
                } catch (error) {
                    console.log(error);
                    const loginURL = `${window.location.origin}/Member/Login`;
                    window.location.href = loginURL;
                }


                const roomID = $(this).data('id');
                const searchHotel = JSON.parse(sessionStorage.getItem('searchHotel'));
                const orderDetail = {
                    MemberID: memberID,
                    RoomID: roomID,
                    CheckInDate: searchHotel.checkInDate,
                    CheckOutDate: searchHotel.checkOutDate,
                    GuestNumber: searchHotel.adults
                };

                try {
                    const response = await fetch('https://localhost:7103/api/Cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(orderDetail)
                    });

                    if (!response.ok) {
                        throw new Error(response.statusText);

                    }

                    const data = await response.json();
                    if (data.success) {
                        showCartModal(data);
                    }
                } catch (err) {
                    console.log(err);
                }
            });

            //直接購買
            $('.directBuy').on('click', async function () {
                const roomID = $(this).data('roomid');
                const searchHotel = JSON.parse(sessionStorage.getItem('searchHotel'));

                //是否有登入寫在後端
                // const memberID = getMemberID();
                // if (!memberID) {
                //     window.location.href = '/login';
                //     return;
                // }

                const orderDetail = {
                    MemberID: 1,
                    RoomID: roomID,
                    CheckInDate: searchHotel.checkInDate,
                    CheckOutDate: searchHotel.checkOutDate
                };

                try {
                    const response = await fetch('https://localhost:7103/api/Cart', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(orderDetail)
                    });

                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }

                    const data = await response.json();
                    if (data.success) {
                        console.log(data);
                        // window.location.href = "";
                    }

                } catch (err) {
                    console.log(err);
                }
            });

            //前往購物車
            $(document).on('click', '#ToCartItems', function () {

                const cartPageUrl = `${window.location.origin}/cart/cartItems`;
                window.location.href = cartPageUrl;
            });

            $('#rightModal').on('show.bs.modal', function (e) {
                $('body').addClass('modal-open');
            });

            $('#rightModal').on('hidden.bs.modal', function (e) {
                $('body').removeClass('modal-open');
            });

        });


        function getDaysBetweenDates(checkInDate, checkOutDate) {
            const checkIn = new Date(checkInDate);
            const checkOut = new Date(checkOutDate);
            const timeDifference = checkOut - checkIn;
            const daysDifference = Math.ceil(timeDifference / (1000 * 3600 * 24)); // 轉換為天數
            return daysDifference;
        }

        function getImageUrl(imagePath) {
            if (imagePath == null) {
                return null;
            }
            if (imagePath.startsWith('http') || imagePath.startsWith('https')) {
                return imagePath;
            } else {
                return window.location.origin + '/image/' + imagePath;
            }
        }

            



        function showCartModal(data) {

            const days = getDaysBetweenDates(data.checkInDate, data.checkOutDate);
            const totalPrice = days * data.roomPrice;
            const imageUrl = getImageUrl(data.roomImage);

            let cartString = `

                                    <div class="modal right fade" id="rightModal" tabindex="-1" aria-labelledby="rightModalLabel" aria-hidden="true">
                                     <div class="modal-dialog">
                                         <div class="modal-content">
                                             <div class="modal-header">
                                                 <h5 class="modal-title" id="rightModalLabel">已加入購物車</h5>
                                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                             </div>
                                             <div class="modal-body d-flex align-items-center">
                                                  <img src="${imageUrl}" alt="...">
                                                      <div class="room-info d-flex flex-column">
                                                     <p>${data.roomName} x ${days}晚已新增至購物車</p>
                                                     <p>（價格為NT$ ${totalPrice}）</p>
                                                 </div>
                                             </div>
                                             <div class="modal-footer">
                                                 <button type="button" class="btn btn-primary" id="ToCartItems">前往購物車</button>

                                                 <div class="note">訂越多，省越多！</div>
                                                 <p>同時預訂多個項目，還能省更多！</p>
                                             </div>
                                         </div>
                                     </div>
                                   </div>

                                `

            $('.cartModal').html(cartString);
            $('#rightModal').modal('show');

                // 思璇:關閉購物車彈出視窗時, 部分刷新房型區--------------------------------------------------------
                $('#rightModal').on('hidden.bs.modal', async function () {
                    const hotelIdElement = document.getElementById("hotel-id");

                    if (!hotelIdElement) {
                        console.error('Cannot find element with id "hotel-id"');
                        return;
                    }

                    const hotelId = hotelIdElement.value; // 获取当前饭店的ID
                    const searchHotel = JSON.parse(sessionStorage.getItem('searchHotel'));
                    const apiUrl = `https://localhost:7103/api/pgHotel/${hotelId}?checkInDate=${searchHotel.checkInDate}&checkOutDate=${searchHotel.checkOutDate}`;

                    try {
                        const response = await fetch(apiUrl);

                        if (!response.ok) {
                            throw new Error('Failed to fetch room status');
                        }

                        const hotelDetail = await response.json();

                        hotelDetail.rooms.forEach(room => {
                            const roomElement = document.querySelector(`[data-room-id='${room.roomId}']`);
                            if (roomElement) {
                                if (room.isBooked) {
                                    roomElement.classList.add('booked');
                                    if (!roomElement.querySelector('.booked-overlay')) {
                                        const bookedOverlay = document.createElement('div');
                                        bookedOverlay.className = 'booked-overlay';
                                        bookedOverlay.innerHTML = '<img src="https://localhost:7284/image/louieee_img/booked.png" alt="Booked" />';
                                        roomElement.appendChild(bookedOverlay);
                                    }
                                } else {
                                    roomElement.classList.remove('booked');
                                    const bookedOverlay = roomElement.querySelector('.booked-overlay');
                                    if (bookedOverlay) {
                                        roomElement.removeChild(bookedOverlay);
                                    }
                                }
                            }
                        });
                    } catch (error) {
                        console.error('Error refreshing room status:', error);
                    }
                });
                //--------------------------------------------------------------------------------------------

        }

        //飯店彈出視窗-下滑到指定類別的圖片
        function smoothScroll(targetId) {
            console.log(targetId);
            const targetEle = document.getElementById(targetId);
            const modal = document.querySelector('.col-9.scrollable-container');
            if (targetEle) {
                modal.scrollTo({
                    top: targetEle.offsetTop,
                    behavior: 'smooth'
                });
            }
        }
</script>
<script>
        //亭蓉評論載入
        let allData = {};
        let currentSlide = 0;
        const carouselContainer = document.querySelector('.carousel-container');
        const carousel = document.querySelector('.carousel');
        const slides = document.querySelectorAll('.carousel-slide');
            const numOfSlides = slides.length; // 獲取卡片組數

        document.addEventListener('DOMContentLoaded', function () {
            const hotelId = 2; // Replace with actual hotel ID
            fetchComments(hotelId);
            fetchAverageData(hotelId);
            fetchScoresData(hotelId);
        });
            function fetchComments(hotelId) {
                fetch(`https://localhost:7103/api/Comment/${hotelId}/ForHotelComment`)
                    .then(response => response.json())
                    .then(data => {
                        console.log('Comments Data:', data);
                        allData = data;
                        document.getElementById('totalCommentcounts').innerText = data.totalComments;
                        renderComments(data.topComments);
                    })
                    .catch(error => console.error('Error fetching comments:', error));
            }
        function fetchAverageData(hotelId) {
            fetch(`https://localhost:7103/api/Comment/AverageRatingText/${hotelId}`)
                .then(response => response.json())
                .then(data => {
                    console.log('Average Data:', data);
                    renderAverage(data);
                })
                .catch(error => console.error('Error fetching average data:', error));
        }

        function fetchScoresData(hotelId) {
            fetch(`https://localhost:7103/api/Comment/${hotelId}/AverageScores`)
                .then(response => response.json())
                .then(data => {
                    console.log('Scores Data:', data);
                    renderScores(data);
                })
                .catch(error => console.error('Error fetching scores data:', error));
        }

           
            function renderComments(comments) {
                const carousel = document.getElementById('carousel');
                carousel.innerHTML = '';

                const chunks = getChunks(comments, 3);
                chunks.forEach((chunk, chunkIndex) => {
                    const slideDiv = document.createElement('div');
                    slideDiv.classList.add('carousel-slide');
                    chunk.forEach((comment, commentIndex) => {
                        const commentCard = document.createElement('div');
                        commentCard.classList.add('comment-card', 'card', 'mb-2');
                        commentCard.style.backgroundColor = '#f0f2f5';
                        commentCard.innerHTML = `
                            <div class="card-body">
                                <p>${truncateText(comment.commentText, 24)}</p>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-row align-items-center">
                                        <span class="fa fa-user"></span>
                                        <p class="small mb-0 ms-2">${comment.firstName || 'Anonymous'}</p>
                                    </div>
                                </div>
                            </div>
                        `;
                        slideDiv.appendChild(commentCard);
                    });
                    carousel.appendChild(slideDiv);
                });
            }

            //進度條
            function renderScores(data) {
                const scoresContainer = document.getElementById('averageScoresContainer');
                console.log('Scores Data:', data);
                scoresContainer.innerHTML = `
                            <div class="column">
                                                        ${renderScore('舒適度', data.averageScore.comfortScore)}
                                                        ${renderScore('清潔度', data.averageScore.cleanlinessScore)}
                                                        ${renderScore('員工', data.averageScore.staffScore)}
                                                        ${renderScore('設施', data.averageScore.facilitiesScore)}
                            </div>
                            <div class="column">
                                                        ${renderScore('性價比', data.averageScore.valueScore)}
                                                        ${renderScore('地點', data.averageScore.locationScore)}
                                                        ${renderScore('免費WiFi', data.averageScore.freeWifiScore)}
                            </div>
                        `;
            }

            function renderScore(label, score) {
                if (score === undefined) {
                    console.error(`${label} is undefined`);
                    return '';
                }
                const scoreHTML = `
                    <div class="row m-2">
                        <div class="col">
                            <span>${label}</span>
                            <span>${score.toFixed(1)}</span>
                            <div class="progress2">
                                <div class="progress-bar2" style="width: ${score * 10}%"></div>
                            </div>
                        </div>
                    </div>
                `;
                return scoreHTML;
            }

            function renderAverage(data) {
                console.log('Average Data:', data); // Log the average data
                document.getElementById('totalAverageScore').innerText = data.averageScore.toFixed(1);
                document.getElementById('ratingText').innerText = data.ratingText;
            }


        function getChunks(array, size) {
            const chunks = [];
            for (let i = 0; i < array.length; i += size) {
                chunks.push(array.slice(i, i + size));
            }
            return chunks;
        }

        function truncateText(text, limit) {
            return text.length > limit ? text.substring(0, limit) + '...' : text;
        }

        // function nextSlide() {
        //     const slides = document.querySelectorAll('.carousel-slide');
        //     currentSlide = (currentSlide + 1) % slides.length;
        //     updateSlidePosition();
        // }
            
        // function prevSlide() {
        //     const slides = document.querySelectorAll('.carousel-slide');
        //     currentSlide = (currentSlide - 1 + slides.length) % slides.length;
        //     updateSlidePosition();
        // }

            
        // function updateSlidePosition() {
        //     const carousel = document.getElementById('carousel');
        //     carousel.style.transform = `translateX(-${currentSlide * 100}%)`;
        // }


            function nextSlide() {
                const slides = document.querySelectorAll('.carousel-slide');
                if (currentSlide < slides.length - 1) {
                    currentSlide++;
                } else {
                    currentSlide = 0;
                }
                updateSlidePosition();
            }

            function prevSlide() {
                const slides = document.querySelectorAll('.carousel-slide');
                if (currentSlide > 0) {
                    currentSlide--;
                } else {
                    currentSlide = slides.length - 1;
                }
                updateSlidePosition();
            }

            function updateSlidePosition() {
                const carousel = document.getElementById('carousel');
                const slideWidth = carousel.clientWidth; // 获取每个slide的宽度
                carousel.style.transform = `translateX(-${currentSlide * slideWidth}px)`;
            }
            
            
    </script>
    @*亭蓉angular*@
        <script src="~/dist/fun-now-angular1/main.effa90667889b35c.js"></script>
        <script src="~/dist/fun-now-angular1/polyfills.b6cd8ceb7f42859a.js"></script>
        <script src="~/dist/fun-now-angular1/runtime.48f9e552146618a8.js"></script>
        <script src="~/dist/fun-now-angular1/scripts.6fe6725b87f2ceac.js"></script>



}
}