
@{
    ViewData["Title"] = "FunNow Home";
    Layout = "_Layout_HotelUpdate";
    @model PrjFunNowWeb.Models.ViewModel.CRoomImageViewModel
    ViewData["HotelId"] = Model.HotelId;
}

<section class="right-section">
    <div class="container">
        <div class="content__container pt-2">
            <div class="content__container__image">
                <div class="d-flex align-items-center justify-content-between" >
                    <div class="mb-4" style="width:70%;">
                        <h4 class="fw-bold mt-5">照片修改</h4>
                        <div>對於旅客來說，現場實景照片往往成為影響是否訂房的重要參考。因此，建議你上傳完整的高畫質實景照片，吸引旅客下訂。想獲得更多小撇步嗎？</div>
                    </div>
                    <div>
                        <select class="form-select" aria-label="Default select example" id="roomUpdate">
                            <option selected disabled>請選擇要修改的房間</option>
                            @foreach (var item in Model.AllRooms)
                            {
                                <option value="@item.RoomId">@item.RoomName</option>
                            } 
                        </select>
                    </div>
                </div>

                <div class="mb-5 hotelImageBox">
                    <h4 class="fw-bold mt-5">房間照片</h4>
                    <p>建築外觀、停車位、入口，以及任何其他開放使用的設施</p>
                    <span class="alert-message" style="color:red; font-weight:900"></span>
                    <div class="uploaded">
                        <div id="uploadSection">
                            <img src="~/image/ou/upload.png" alt="..." />
                            <div class="fw-bold">請將照片拖放至此</div>
                            <p>僅限JPG和PNG格式（上限5 MB）</p>
                            <input type="file" id="fileInput" accept=".jpg,.png" multiple style="display: none;" />
                            <button id="uploadButton">選擇照片</button>
                        </div>
                    </div>
                    <div class="container" id="preview">

                    </div>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center successMessage" style="visibility: hidden">
                    <img src="@Url.Content("~/ou/image/checksign.png")" />
                    <span style="color:green">已儲存!</span>
                </div>
                <div class="d-flex justify-content-end my-5">
                    <button type="button" class="btn_previous" id="btnPrevious">取消</button>
                    <button type="submit" class="btn_next" id="btnNext">儲存</button>
                </div>
            </div>


        </div>
    </div>
</section>

@{
    var json = System.Text.Json.JsonSerializer.Serialize(Model.AllimageCategories, new System.Text.Json.JsonSerializerOptions
            {
                ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.IgnoreCycles
            });
}

@section Styles {
    <style>

    </style>

}
@section Scripts {
    <script>

        var allImageCategories = @Html.Raw(json);
        $(document).ready(async () => {
            const hotelId = @Model.HotelId;
            const maxTotalSize = 5 * 1024 * 1024; // 5MB
            let totalSize = 0;
            let filenames = new Set();
            let allFiles = [];
            let deletedImages = [];

            $('#roomUpdate').on('change', async function () {
                var roomId = $(this).val();
                if (roomId) {
                    try {
                        const res = await fetch(`@Url.Action("GetRoomsImage", "HostManage")?roomId=${roomId}`);
                        if (!res.ok) {
                            throw new Error(res.statusText);
                        }
                        const data = await res.json();
                        if (data.success) {
                            let roomData = data.data;
                            let allCategories = data.allCategories;
                          
                            displayRoomImages(roomData, allCategories);
                        }
                    } catch (err) {
                        console.log(err);
                    }
                }
            });
           
            function displayRoomImages(roomData, allCategories) {
                let previewContainer = $('#preview');
                previewContainer.empty();
                const baseUrl = window.location.origin + '/image/';

                roomData.forEach(item => {

                    let options = '<option selected disabled>請選擇標題</option>';
                    allCategories.forEach(category => {
                        let selected = item.categories && category.id === item.categories.id ? 'selected' : '';                     
                        options += `<option value="${category.id}" ${selected}>${category.name}</option>`;
                    });


                    let imageUrl = item.imageUrl.startsWith('http') || item.imageUrl.startsWith('https')
                        ? item.imageUrl
                        : baseUrl + item.imageUrl;
                   
                    const hotelImageCardStr = `
                            <div class="card hotelImageCard" data-id="${item.roomImageId}"  data-is-new="false">
                        <img src="${imageUrl}" class="card-img-top h-100" alt="..." data-file-name="${item.fileName}" data-file-size="${item.fileSize}">
                        <div class="card-body">
                            <select class="form-select" aria-label="Default select example" id="selectImageCategory">
                                ${options}
                            </select>
                        </div>
                        <button class="btn btn-danger delete-button" style="display: none;">刪除照片</button>
                    </div>
                `;
                    previewContainer.append(hotelImageCardStr);
                });
            }

            $('#uploadButton').on('click', function () {
                $('#fileInput').trigger('click');
            });

            $('#fileInput').on('change', async function (e) {

                const allowedTypes = ['image/jpeg', 'image/png'];
                const files = Array.from(e.target.files);
                const fileInput = $('#fileInput');
                let newSize = 0;

                files.forEach((file, index) => {

                    if (!allowedTypes.includes(file.type)) {
                        alert('只允許上傳 JPG 和 PNG 格式的圖片');
                        return;
                    }

                    if (filenames.has(file.name)) {
                        alert(`檔名 ${file.name} 已存在，請選擇不同的檔案。`);
                        return;
                    }

                    newSize += file.size;
                    if (totalSize + newSize > maxTotalSize) {
                        alert('所有照片加起來不能超過 5MB。');
                        return;
                    }

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        let options = '';
                        options += ' <option selected disabled> 請選擇標題 </option>'
                        allImageCategories.forEach(ic => {
                            options += `<option value="${ic.ImageCategoryId}">${ic.ImageCategoryName}</option>`;
                        });
                        const hotelImageCardStr = `
                                               <div class="card hotelImageCard" data-is-new="true">
                                                  <img src="${e.target.result}" class="card-img-top h-100" alt="..." data-file-name="${file.name}" data-file-size="${file.size}">
                                                  <div class="card-body">
                                                      <select class="form-select" aria-label="Default select example" id="selectImageCategory">
                                                             ${options}
                                                      </select>
                                                  </div>
                                                  <button class="btn btn-danger delete-button" style="display: none;">刪除照片</button>
                                               </div>
                                             `;

                        $('#preview').append(hotelImageCardStr);

                        // 當所有文件都讀取完畢後，改變樣式、儲存fileName到set及計算儲存的容量
                        if (index === files.length - 1) {
                            files.forEach(f => {
                                filenames.add(f.name);
                                allFiles.push({ file: f, category: null });
                            });
                            totalSize += newSize;
                            fileInput.val('');
                        }
                    };

                    reader.readAsDataURL(file);
                });
            });


            $('#preview').on('mouseover', '.card', function () {
                $(this).find('.delete-button').css('display', 'block');
            });

            $('#preview').on('mouseout', '.card', function () {
                $(this).find('.delete-button').css('display', 'none');
            });

            $('#preview').on('change', 'select', function () {
                const card = $(this).closest('.hotelImageCard');
                const imgElement = card.find('img');
                const fileName = imgElement.data('file-name');
                const category = $(this).val();


                allFiles.forEach(fileObj => {

                    if (fileObj.file.name === fileName) {
                        fileObj.category = category;
                    }
                });
            });

            $('#preview').on('click', '.delete-button', function () {
                const card = $(this).closest('.card');
                const imageId = card.data('id'); //舊照片才有roomImageID
                const imgElement = card.find('img');
                const fileName = imgElement.data('file-name');
                const fileSize = parseInt(imgElement.data('file-size'), 10);


                if (confirm('確定要刪除這張圖片嗎？')) {
                    filenames.delete(fileName);
                    totalSize -= fileSize;
                    allFiles = allFiles.filter(fileObj => fileObj.file.name !== fileName);
                    if (imageId) { //舊照片刪除才需堆到deletedImages
                        deletedImages.push(imageId);
                    }

                    card.remove();
                }


            });

            //取消
            $('#btnPrevious').on('click', function () {
                location.reload();
            });

            //儲存
            $('#btnNext').on('click', async function () {
                const roomId = $('#roomUpdate').val();
                if (!roomId) {
                    alert('請選擇房間');
                    return;
                }

             

                //圖片類別請選擇
                let allCategoriesSelected = true;
                let isValid = true;
                $('.card').each(function () {
                    const selectElement = $(this).find('select');
                    if (selectElement.val() === null) {
                        allCategoriesSelected = false;
                        return; // 結束遍歷
                    }
                });

                if (!allCategoriesSelected) {
                    alert('請為所有圖片選擇類別');
                    isValid = false;
                }

                if ($('#preview').find('img').length === 0) {
                    $('.hotelImageBox').find('.alert-message').html('請上傳至少一張飯店照片');
                    isValid = false;

                } else {
                    $('.hotelImageBox').find('.alert-message').html('');
                }


                if (!isValid) {
                    return;
                }


                const formData = new FormData();
                formData.append('roomId', roomId);

                allFiles.forEach(fileObj => {
              
                    formData.append('newImages', fileObj.file);
                    formData.append('newImagesCategories', fileObj.category);
                });

                deletedImages.forEach(imageId => {

                    formData.append('deletedImages', imageId);


                });

                // 收集舊照片照片信息
                $('.hotelImageCard').each(function () {
                    const categorySelect = $(this).find('select');
                    const isNew = $(this).data('is-new');
                    const imageId = $(this).data('id');

                    if (!isNew) {

                        formData.append('updatedImages', imageId);
                        formData.append('updatedImagesCategories', categorySelect.val());

                    }
                });

                try {
                    const res = await fetch('@Url.Action("UpdateRoomImages", "HostManage")', {
                        method: 'POST',
                        body: formData
                    });

                    if (!res.ok) {
                        throw new Error(res.statusText);
                    }

                    const data = await res.json();
                    if (data.success) {
                        $('.successMessage').css('visibility', 'visible');
                        setTimeout(() => {
                            $('.successMessage').css('visibility', 'hidden');
                        }, 2000);
                    } 
                } catch (err) {
                    console.log(err);
                }
            });


        
        });

    </script>
}