@{
    ViewData["Title"] = "HostRoomCreate";
    Layout = "_Layout_HotelUpdate";
}

@model PrjFunNowWeb.Models.ViewModel.CsingleHotelViewModel

<section class="rightSection">
    <div class="content__container pt-3">

        @* 客房基本資料 *@
        <div class="d-flex align-items-center justify-content-between">
            <div class="mb-4">
                <h4 class="fw-bold mt-5">設定客房資訊</h4>
                <div>設定至少一種房型的價格和客房詳情，以在FunNow刊登您的住宿。</div>
            </div>
            <div>
                <img class="equip_image w-75" src="~/image/ou/room_Icon.png" alt="..." />
            </div>
        </div>
        <div class="mb-4">
            <h4 class="fw-bold mt-5">客房詳情與定價</h4>
        </div>

        @*  room card *@
        <div id="panels-container">
            <div class="panel__room mb-4">
                <div class="position-relative">
                    <div class="fw-bold pb-3 mb-3 border-bottom panel__room__count">客房</div>
                </div>
                <div class="panel__content" style="display: block;">
                    <div class="fw-bold fs-5 mb-4">基本資訊</div>
                    <div class="mb-3">
                        <div class="mb-2 fw-bold">為住宿命名</div>
                        <input type="text" class="form-control roomNames" placeholder="請輸入房間名稱" />
                        <span class="alert-message"></span>
                    </div>
                    <div class="mb-4">
                        <div class="mb-2 fw-bold">請選擇房型</div>

                        <select class="form-select roomTypes" aria-label="Default select example" id="roomType">
                            <option selected disabled>請選擇房型</option>
                            @foreach (var item in Model.AllRoomTypes)
                            {
                                <option value="@item.RoomTypeId">@item.RoomTypeName</option>
                            }
                        </select>
                        <span class="alert-message"></span>
                    </div>
                    <div class="mb-4 roomSizeBox">
                        <div class="mb-2 fw-bold">Room size</div>
                        <div class="d-flex">
                            <div>
                                <input type="number" min="0" class="form-Room-size roomSizes" />
                            </div>
                            <div class="form-Room-size-unit">平方公尺</div>
                        </div>
                        <span class="alert-message"></span>
                    </div>

                    <div class="mb-4">
                        <div class="fw-bold mb-2">客房人數限制</div>
                        <div>
                            <button class="btn-icon" id="minus-btn" type="button"><i class="fa-solid fa-minus"></i></button>
                            <input value="1" type="number" min="1" step="1" max="99" class="form-Room-size roomPeople" id="room-size-input" />
                            <button class="btn-icon" id="plus-btn" type="button"><i class="fa-solid fa-plus"></i></button>
                        </div>
                        <span class="alert-message"></span>
                    </div>

                    <div class="mb-4 roomPriceBox">
                        <div class="fw-bold mb-2">房價設定</div>
                        <div>該房型的最低房價，不包括促銷優惠、稅金或其他費用。</div>
                        <div class="d-flex mt-2">
                            <div>
                                <input type="number" min="0" step="1" class="form-Room-size roomPrice" />
                            </div>
                            <div class="form-Room-size-unit">TWD</div>
                        </div>
                        <span class="alert-message"></span>
                    </div>
                    @* 設備 *@
                    <h5 class="fw-bold">房間設施</h5>
                    <div class="sm_titlt mb-3">房間有提供的設備</div>
                    <div class="roomEquipmentBox">
                        <div class="panel">
                            <div class="row row-cols-3" id="roomEquipment">
                                @foreach (var item in Model.AllRoomEquipments)
                                {
                                    <div class="col mb-2">
                                        <label>
                                            <input type="checkbox" value="@item.RoomEquipmentId"/>
                                           @item.RoomEquipmentName
                                        </label>
                                    </div>
                                }

                            </div>
                        </div>
                        <span class="alert-message"></span>
                    </div>
                    <h5 class="fw-bold mt-5">房間簡介</h5>
                    <div class="panel descBox">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="請介紹您的房間" style="height: 200px; resize: none"></textarea>
                            <label>請介紹您的房間</label>
                        </div>
                        <span class="alert-message"></span>
                    </div>
                </div>
            </div>
        </div>

       @*  圖片 *@
        <div class="content__container__image">

            <div class="mb-5 hotelImageBox">
                <h4 class="fw-bold mt-5">客房照片</h4>
                <p>建築外觀、停車位、入口，以及任何其他開放使用的設施</p>
                <span class="alert-message"></span>
                <div class="uploaded">
                    <div id="uploadSection">
                        <img src="~/image/ou/upload.png" alt="..." />
                        <div class="fw-bold">請將照片拖放至此</div>
                        <p>僅限JPG和PNG格式（上限5 MB）</p>
                        <input type="file" id="fileInput" accept=".jpg,.png" multiple style="display: none;" />
                        <button id="uploadButton">選擇照片</button>
                    </div>
                </div>
                <div class="container" id="preview">
@*                     <div class="card hotelImageCard" data-id="">
                        <img src="" class="card-img-top h-100" alt="..." data-file-name="">
                        <div class="card-body">
                            <select class="form-select" aria-label="Default select example" id="selectImageCategory">
                                <option selected disabled> 請選擇標題 </option> *@
                                @*                                     @foreach (var imageCategory in Model.AllimageCategories)
                                {
                                <option value="@imageCategory.ImageCategoryId">@imageCategory.ImageCategoryName</option>
                                }) *@
   @*                          </select>
                        </div>
                        <button class="btn btn-danger delete-button" style="display: none;">刪除照片</button>
                    </div>*@
                </div> 
            </div>
        </div>

        @*   button *@
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center successMessage" style="visibility: hidden">
                <img src="@Url.Content("~/ou/image/checksign.png")" />
                <span style="color:green">已儲存!</span>
            </div>
            <div class="d-flex justify-content-end my-5">
                <button type="button" class="btn_previous" id="btnPrevious">取消</button>
                <button type="submit" class="btn_next" id="btnNext">儲存</button>
            </div>
        </div>

    </div>
</section>


@{
    var json = System.Text.Json.JsonSerializer.Serialize(Model.AllimageCategories, new System.Text.Json.JsonSerializerOptions
            {
                ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.IgnoreCycles
            });
}

@section Styles {
    <style>

    </style>

}
@section Scripts {
    <script>
        var allImageCategories = @Html.Raw(json);
        $(document).ready(() => {
            const maxTotalSize = 5 * 1024 * 1024; // 5MB
            let totalSize = 0;
            let filenames = new Set();
            let allFiles = [];
            let deletedImages = [];


            $('#uploadButton').on('click', function () {
                $('#fileInput').trigger('click');
            });


            $('#fileInput').on('change', async function (e) {

                const allowedTypes = ['image/jpeg', 'image/png'];
                const files = Array.from(e.target.files);
                const fileInput = $('#fileInput');
                let newSize = 0;

                files.forEach((file, index) => {

                    if (!allowedTypes.includes(file.type)) {
                        alert('只允許上傳 JPG 和 PNG 格式的圖片');
                        return;
                    }

                    if (filenames.has(file.name)) {
                        alert(`檔名 ${file.name} 已存在，請選擇不同的檔案。`);
                        return;
                    }

                    newSize += file.size;
                    if (totalSize + newSize > maxTotalSize) {
                        alert('所有照片加起來不能超過 5MB。');
                        return;
                    }

                    const reader = new FileReader();
                    reader.onload = function (e) {
                        let options = '';
                        options += ' <option selected disabled> 請選擇標題 </option>'
                        allImageCategories.forEach(ic => {
                            options += `<option value="${ic.ImageCategoryId}">${ic.ImageCategoryName}</option>`;
                        });
                        const hotelImageCardStr = `
                                               <div class="card hotelImageCard" data-is-new="true">
                                                  <img src="${e.target.result}" class="card-img-top h-100" alt="..." data-file-name="${file.name}" data-file-size="${file.size}">
                                                  <div class="card-body">
                                                      <select class="form-select" aria-label="Default select example" id="selectImageCategory">
                                                             ${options}
                                                      </select>
                                                  </div>
                                                  <button class="btn btn-danger delete-button" style="display: none;">刪除照片</button>
                                               </div>
                                             `;

                        $('#preview').append(hotelImageCardStr);

                        // 當所有文件都讀取完畢後，改變樣式、儲存fileName到set及計算儲存的容量
                        if (index === files.length - 1) {
                            files.forEach(f => {
                                filenames.add(f.name);
                                allFiles.push({ file: f, category: null });
                            });
                            totalSize += newSize;
                            fileInput.val('');
                        }
                    };

                    reader.readAsDataURL(file);
                });
            });

            $('#preview').on('mouseover', '.card', function () {
                $(this).find('.delete-button').css('display', 'block');
            });

            $('#preview').on('mouseout', '.card', function () {
                $(this).find('.delete-button').css('display', 'none');
            });

            $('#preview').on('click', '.delete-button', function () {
                const card = $(this).closest('.card');
                const imageId = card.data('id');
                const imgElement = card.find('img');
                const fileName = imgElement.data('file-name');
                const fileSize = parseInt(imgElement.data('file-size'), 10);


                if (confirm('確定要刪除這張圖片嗎？')) {
                    filenames.delete(fileName);
                    totalSize -= fileSize;
                    allFiles = allFiles.filter(fileObj => fileObj.file.name !== fileName);
                    if (imageId) {
                        deletedImages.push(imageId);
                    }

                    card.remove();
                }


            });

            //取消
            $('#btnPrevious').on('click', function () {
                location.reload();
            });


            //客房人數限制
            $('#plus-btn').on('click', () => {

                const currentValue = parseInt($('#room-size-input').val());
                if (currentValue < parseInt($('#room-size-input').attr('max'))) {
                    $('#room-size-input').val(currentValue + 1);
                }
            });

            $('#minus-btn').on('click', () => {

                const currentValue = parseInt($('#room-size-input').val());
                if (currentValue > parseInt($('#room-size-input').attr('min'))) {
                    $('#room-size-input').val(currentValue - 1);
                }
            });
        
        
            
        });
    </script>
}

