@using System.Text.Json
@{
    ViewData["Title"] = "Home Page2";
    Layout = "_Layout_index2";
    var memberID = Context.Session.GetString("MemberID");

    var memberInfo = Context.Session.GetString("MemberInfo");
    var memberInfoJson = memberInfo != null ? JsonSerializer.Serialize(memberInfo) : "null";
}

<br />
<!--================ 台灣熱門城市 Area  =================-->
<section class="accomodation_area section_gap">
    <br /><br /><br /><br />
    <div class="container">
        <div class="row mb_30">
            <div class="col-lg-3 col-sm-6">
                <!-- 左側篩選條件區域 -->
                <div>
                    <a class="book_now_btn button_hover" href="#">
                        <img src="~/image/ming_img/map.png" alt="" style="height:80px;width:auto">
                    </a>
                </div>

                <div>
                    <input type="text" id="search-input4" class="form-control" placeholder="搜尋關鍵字" onkeydown="handleKeyDownIndex2(event)">
                </div>
                <br />
                <p style="margin:0px 10px">每晚預算</p>

                <!--//價格搜尋拉霸start-->
                <div class="slider-container" style="margin: 10px">
                    <div class="range-slider" id="rangeSlider" min="1" max="10000">
                        <div class="slider-handle lower-handle" id="lowerHandle"></div>
                        <div class="slider-handle upper-handle" id="upperHandle"></div>
                    </div>
                    <div class="label-container">
                        <span id="lowerLabel">下限：1</span>
                        <span id="upperLabel">上限：10000</span>
                    </div>
                    <div class="input-container">
                        <input type="number" id="lowerInput" value="1" style="margin-right: 10px;" class="no-spinner">
                        <input type="number" id="upperInput" value="10000" class="no-spinner">
                    </div>
                </div>
                <!--//價格搜尋拉霸end-->
                <!-- 住宿類型 -->
                <div style="margin:20px 10px" class="form-check-container-hotel-type">
                    <p>住宿類型</p>
                    @foreach (var hotelType in Model.HotelTypes)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@hotelType.HotelTypeId" id="hotelType_@hotelType.HotelTypeId">
                            <label class="form-check-label" for="hotelType_@hotelType.HotelTypeId">
                                @hotelType.HotelTypeName
                            </label>
                        </div>
                    }
                </div>

                <!-- 住宿設備 -->
                <div style="margin:20px 10px" class="form-check-container-hotel-equipment">
                    <p>住宿設備</p>
                    @foreach (var hotelEquipment in Model.HotelEquipments)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@hotelEquipment.HotelEquipmentId" id="hotelEquipment_@hotelEquipment.HotelEquipmentId">
                            <label class="form-check-label" for="hotelEquipment_@hotelEquipment.HotelEquipmentId">
                                @hotelEquipment.HotelEquipmentName
                            </label>
                        </div>
                    }
                </div>

                <!-- 城市 -->
                <div style="margin:20px 10px" class="form-check-container-city">
                    <p>城市</p>
                    @foreach (var city in Model.Cities)
                    {
                        <div class="form-check city-item">
                            <input class="form-check-input" type="checkbox" value="@city.CityId" id="city_@city.CityId">
                            <label class="form-check-label" for="city_@city.CityId">
                                @city.CityName
                            </label>
                        </div>
                    }
                    <button id="toggleCityButton" class="toggle-button">顯示更多</button>
                </div>

                <!-- 房間設備 -->
                <div style="margin:20px 10px" class="form-check-container-room-equipment">
                    <p>房間設備</p>
                    @foreach (var roomEquipment in Model.RoomEquipments)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@roomEquipment.RoomEquipmentId" id="roomEquipment_@roomEquipment.RoomEquipmentId">
                            <label class="form-check-label" for="roomEquipment_@roomEquipment.RoomEquipmentId">
                                @roomEquipment.RoomEquipmentName
                            </label>
                        </div>
                    }
                </div>



            </div>

            <div class="col-lg-9 col-sm-12">
                <!-- 主內容區域，顯示酒店列表 -->
                <div class="navbar">
                    <button id="sortBtn">排序</button>
                    <button id="bestMatchBtn">最匹配選項</button>
                    <button id="highestRatedBtn">住客評鑑最高</button>
                    <button id="lowestPriceBtn">最低價格優先</button>
                    <button id="nearbyBtn">鄰近交通&景點</button>
                    <button id="hotDealBtn" class="special-button">搶手特惠!</button>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12" style="border:1px solid gray">
                            <div class="container">
                                <div class="row" id="showhotels">
                                    <!-- 動態生成旅館 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- 右側動態廣告區域 -->
<div class="ad-container">
    <!-- 設置輪播 -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <!-- 第一組輪播項，默認激活 -->
            <div class="carousel-item active">
                <img src="~/image/ming_img/排球少年1.jfif" class="d-block w-100" alt="Ad Image 1">
                <img src="~/image/ming_img/排球少年2.jfif" class="d-block w-100 mt-2" alt="Ad Image 2">
            </div>
            <div class="carousel-item">
                <img src="~/image/ming_img/排球少年3.jfif" class="d-block w-100" alt="Ad Image 3">
                <img src="~/image/ming_img/排球少年4.jpeg" class="d-block w-100 mt-2" alt="Ad Image 4">
            </div>
            <div class="carousel-item">
                <img src="~/image/ming_img/排球少年5.jpg" class="d-block w-100" alt="Ad Image 5">
                <img src="~/image/ming_img/排球少年6.jpg" class="d-block w-100 mt-2" alt="Ad Image 6">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

@* Accordion*@
<div class="container1" id="container1" style="display: none;">
    <div class="accordion" id="accordionExample">
        <div class="card">
            <h2 class="card-header" id="headingOne">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" id="accordionButton">
                    已選擇住宿 (n/5)
                </button>
            </h2>
            <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row d-flex flex-nowrap">
                        <div class="col-9 d-flex flex-nowrap">
                            <div class="image-container" style="position: relative; width: 200px; display: inline-block;">
                                <button type="button" class="close remove-image" style="position: absolute; z-index: 2; left: 80px; top: 5px;"><span aria-hidden="true">&times;</span></button>
                                <img src="~/image/julia/haiou.png" class="img-thumbnail float-left mx-1" style="position: relative; z-index: 1;" alt="房间图片">
                            </div>
                        </div>
                        <div class="col-3 d-flex align-items-center mt-2">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                比較住宿
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container position-relative">
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title rounded-pill" id="exampleModalLabel">比較飯店</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <!-- Row 1 to Row 10 for each column -->
                                <tr>
                                    <td><img src="~/image/julia/haiou.png" class="card-img-top" alt="房間圖片"></td>
                                    <td><img src="~/image/julia/hidden.png" class="card-img-top" alt="房間圖片"></td>
                                    <td><img src="~/image/julia/rabe.png" class="card-img-top" alt="房間圖片"></td>
                                    <td><img src="~/image/julia/台北文華東方飯店-4.jpg" class="card-img-top" alt="房間圖片"></td>
                                    <td><img src="~/image/julia/高雄海嗨嗨渡假村.jpg" class="card-img-top" alt="房間圖片"></td>
                                </tr>
                                <!-- 其他行數據 -->
                                <tr><td>蛙滴家</td><td>九份九重町民宿</td><td>九份山旅</td><td>窄巷子公寓</td><td>九份百萬夜景</td></tr>
                                <!-- 根據需要添加更多行 -->
                                <tr><td>九份</td><td>城市</td><td>城市</td><td>城市</td><td>城市</td></tr>
                                <tr>
                                    <td>
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                    </td>
                                    <td>
                                        <p>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                            <i class="fa-solid fa-star"></i>
                                        </p>
                                    </td>
                                </tr>
                                <tr><td>評價/幾則評論</td><td>評價/幾則評論</td><td>評價/幾則評論</td><td>評價/幾則評論</td><td>評價/幾則評論</td></tr>
                                <tr><td>價錢</td><td>價錢</td><td>價錢</td><td>價錢</td><td>價錢</td></tr>
                                <tr>
                                    <td><button type="button" class="btn btn-primary">查看飯店</button></td>
                                    <td><button type="button" class="btn btn-primary">查看飯店</button></td>
                                    <td><button type="button" class="btn btn-primary">查看飯店</button></td>
                                    <td><button type="button" class="btn btn-primary">查看飯店</button></td>
                                    <td><button type="button" class="btn btn-primary">查看飯店</button></td>
                                </tr>
                                <tr>
                                    <td><button type="button" class="btn btn-secondary">移除</button></td>
                                    <td><button type="button" class="btn btn-secondary">移除</button></td>
                                    <td><button type="button" class="btn btn-secondary">移除</button></td>
                                    <td><button type="button" class="btn btn-secondary">移除</button></td>
                                    <td><button type="button" class="btn btn-secondary">移除</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================ 台灣熱門城市 Area  =================-->
@section Scripts {

    <script>

        //維持最愛紅心
        async function applyFavoriteStatus() {
            const memberId = window.memberId;
            if (!memberId) {
                console.log('Member ID not found');
                return;
            }

            const likedHotels = await getLikedHotels(memberId);
            document.querySelectorAll('.favorite-icon').forEach(icon => {
                const hotelId = icon.getAttribute('data-hotel-id');
                if (likedHotels.includes(parseInt(hotelId))) {
                    icon.classList.add('liked');
                } else {
                    icon.classList.remove('liked');
                }
            });
        }

        //產生漂亮星星
        const generateStars = (stars) => {
            let starsHtml = '';
            for (let i = 0; i < stars; i++) {
                starsHtml += '<i class="fa-solid fa-star"></i>';
            }
            return starsHtml;
        };

        document.addEventListener("DOMContentLoaded", async function () {
            //DOMContentLoaded 事件：這個事件在初始的 HTML 文檔被完全加載和解析後觸發，不必等待樣式表、圖像和子框架的完全加載。
            // 網頁加載完成後自動加載儲存在 sessionStorage 的 searchHotel 資訊
            const searchHotelJson = sessionStorage.getItem("searchHotel");
            if (searchHotelJson) {
                const searchHotel = JSON.parse(searchHotelJson);
                //解析並加載飯店資訊
                await loadHotels(searchHotel);
            } else {
                console.log("searchHotel not found in sessionStorage");
            }

            // 加載已喜歡的飯店 ID
            const memberId = '@memberID'; // 取得實際的會員ID，確保這部分已經正確替換
            window.memberId = memberId;

            // 確保 memberId 存在後再呼叫 getLikedHotels
            if (memberId) {
                const likedHotels = await getLikedHotels(memberId);
                const favoriteIcons = document.querySelectorAll(".favorite-icon");
                favoriteIcons.forEach(icon => {
                    const hotelId = icon.getAttribute("data-hotel-id");
                    if (likedHotels.includes(parseInt(hotelId))) {
                        icon.classList.add("liked");
                    }
                });
            } else {
                console.log('Member ID not found');
            }


            // 監聽提交按鈕，獲取輸入值並發送請求
            const btnSubmit3 = document.querySelector("#buttonSubmit3");
            if (btnSubmit3) {
                btnSubmit3.addEventListener("click", async () => {
                    handleSubmitButtonClick();
                });
            }

            // 綁定搜索輸入框的按鍵事件
            const searchInput4 = document.querySelector("#search-input4");
            if (searchInput4) {
                searchInput4.addEventListener("keydown", async (event) => {
                    if (event.key === "Enter") {
                        handleSearchKeywordEnter();
                    }
                });
            }

            // 綁定所有複選框的事件監聽器
            const containerSelectors = [
                '.form-check-container-hotel-type',
                '.form-check-container-hotel-equipment',
                '.form-check-container-city',
                '.form-check-container-room-equipment'
            ];

            //所有指定容器內的複選框添加 change 事件監聽器，當複選框的狀態改變時，
            //觸發 updateSearchFilters 函數以更新搜尋條件並重新加載飯店資訊
            containerSelectors.forEach(selector => { //遍歷 containerSelectors 數組，對每個選擇器進行以下操作
                document.querySelectorAll(`${selector} input[type="checkbox"]`).forEach(checkbox => {
                    checkbox.addEventListener('change', updateSearchFilters);
                });//對每個容器選擇器，選取該容器內的所有複選框，添加 change 事件監聽器
            });



            // 綁定排序按鈕的點擊事件
            const sortButtons = {
                sortBtn: ["HotelId", "asc"],
                bestMatchBtn: ["LevelStar", "desc"],
                highestRatedBtn: ["TotalAverageScore", "desc"], // 修改這裡
                lowestPriceBtn: ["HotelPrice", "asc"],
                nearbyBtn: ["CityName", "asc"],
                hotDealBtn: ["deal", "desc"],
            };

            //為每個排序按鈕添加點擊事件監聽器，當按鈕被點擊時，
            // 觸發 handleSort 函數以設定排序方式並重新加載飯店資訊
            Object.keys(sortButtons).forEach(id => {
                document.querySelector(`#${id}`).addEventListener("click", () => handleSort(...sortButtons[id]));
                //...為使用展開運算符（Spread Operator）將數組 sortButtons[id] 展開為單獨的參數，傳遞給 handleSort 函數。
                //例如，對於 sortBtn，sortButtons["sortBtn"] 是 ["HotelId", "asc"]，所以實際調用為 handleSort("HotelId", "asc")
            });

            // 設定 upperHandle 初始位置在滑動條的尾端
            const rangeSlider = {
                lowerHandle: document.getElementById('lowerHandle'),//滑桿的下限手柄
                upperHandle: document.getElementById('upperHandle'),
                slider: document.getElementById('rangeSlider'),//滑桿的主體
                lowerLabel: document.getElementById('lowerLabel'),
                upperLabel: document.getElementById('upperLabel'),
                lowerInput: document.getElementById('lowerInput'),
                upperInput: document.getElementById('upperInput')
            };

            const max = parseFloat(rangeSlider.slider.getAttribute('max'));
            const position = 100; // 百分比位置（100% 表示滑桿的最右端）
            rangeSlider.upperHandle.style.left = `${position}%`;
            rangeSlider.upperLabel.textContent = `上限：${max}`;
            rangeSlider.upperInput.value = max;

            // 初始化 lowerHandle 和 lowerLabel
            rangeSlider.lowerHandle.style.left = '0%';
            rangeSlider.lowerLabel.textContent = '下限：1';
            rangeSlider.lowerInput.value = 1;

            // 綁定滑桿拖動事件
            [rangeSlider.lowerHandle, rangeSlider.upperHandle].forEach(handle => {
                handle.addEventListener('mousedown', startDrag);
                //當手柄被按下（按下滑鼠 事件）時，觸發 startDrag 函數，開始拖動手柄。
            });

            let isDragging = false;  //表示是否正在拖動手柄
            let currentHandle = null; //存儲當前正在拖動的手柄。

            // 開始拖動的處理函數
            function startDrag(event) {
                isDragging = true;
                currentHandle = event.target; //設置為當前被按下的手柄
                document.addEventListener('mousemove', handleDrag);//當鼠標移動（mousemove 事件）時
                document.addEventListener('mouseup', stopDrag);//當鼠標按鍵釋放（mouseup 事件）時
            }

            // 處理拖動邏輯的函數
            function handleDrag(event) {
                if (!isDragging) return;//如果 isDragging 為 false，則直接返回，不進行後續操作。這樣可以避免在未拖動時誤觸發拖動邏輯

                const handleType = currentHandle === rangeSlider.lowerHandle ? 'lower' : 'upper';
                //如果 currentHandle 等於 rangeSlider.lowerHandle，則 handleType 設為 'lower'，否則設為 'upper'。
                const { handle, label, oppositeLabel, lowerInput, upperInput } = handleType === 'lower' ?
                    { handle: rangeSlider.lowerHandle, label: rangeSlider.lowerLabel, oppositeLabel: rangeSlider.upperLabel, lowerInput: rangeSlider.lowerInput, upperInput: rangeSlider.upperInput } :
                    { handle: rangeSlider.upperHandle, label: rangeSlider.upperLabel, oppositeLabel: rangeSlider.lowerLabel, lowerInput: rangeSlider.lowerInput, upperInput: rangeSlider.upperInput };

                const sliderRect = rangeSlider.slider.getBoundingClientRect();  //獲取滑桿的邊界矩形，用於計算手柄位置
                const position = Math.min(1, Math.max(0, (event.clientX - sliderRect.left) / sliderRect.width));
                //event.clientX 是鼠標在頁面上的水平位置（X 坐標）  sliderRect.left 是滑桿左邊界在頁面上的水平位置（X 坐標）。
                const value = Math.round(parseFloat(rangeSlider.slider.getAttribute('min')) + position * (parseFloat(rangeSlider.slider.getAttribute('max')) - parseFloat(rangeSlider.slider.getAttribute('min'))));
                //(event.clientX - sliderRect.left) / sliderRect.width 計算鼠標在滑桿內的相對位置，範圍是 0 到 1 之間。當鼠標在滑桿最左端時，這個值為 0；當鼠標在滑桿最右端時，這個值為 1。

                // 防止下限超過上限或上限低於下限
                if (handleType === 'lower' && value >= parseFloat(oppositeLabel.textContent.split('：')[1])) return;
                if (handleType === 'upper' && value <= parseFloat(oppositeLabel.textContent.split('：')[1])) return;
                //split('：')[1] 的作用是將字符串根據特定的分隔符進行分割，並提取分割後的第二部分。在這個上下文中，分隔符是 ：（中文冒號），目的是提取數值部分。

                handle.style.left = `${position * 100}%`;
                label.textContent = `${handleType === 'lower' ? '下限' : '上限'}：${value}`;
                handleType === 'lower' ? lowerInput.value = value : upperInput.value = value;
                updateHotels(parseFloat(rangeSlider.lowerInput.value), parseFloat(rangeSlider.upperInput.value));
                //調用 updateHotels 函數，更新酒店列表。
            }

            // 停止拖動的處理函數
            function stopDrag() {
                isDragging = false;
                currentHandle = null;
                document.removeEventListener('mousemove', handleDrag);
                document.removeEventListener('mouseup', stopDrag);
            }

            //維持最愛紅心
            await applyFavoriteStatus();


        });

        // 新增取得已喜歡的飯店 ID 的函數
        async function getLikedHotels(memberId) {
            try {
                const response = await fetch(`https://localhost:7103/api/HotelSearch/likedHotels/${memberId}`);
                if (!response.ok) {
                    throw new Error('Failed to fetch liked hotels');
                }
                const likedHotelIds = await response.json();
                return likedHotelIds;
            } catch (error) {
                console.error('Error fetching liked hotels:', error);
                return [];
            }
        }


        // 檢查所有選中的 checkbox 並返回其值的列表
        function getSelectedCheckboxes(containerSelector) {
            const checkboxes = document.querySelectorAll(`${containerSelector} input[type="checkbox"]:checked`);
            return Array.from(checkboxes).map(checkbox => parseInt(checkbox.value)); // 確保值是數字類型
            //Array.from(checkboxes)：將 NodeList 轉換為數組，這樣可以使用數組的方法。
        }

        // 更新搜尋篩選條件並加載飯店
        async function updateSearchFilters() {
            const searchHotelJson = sessionStorage.getItem('searchHotel');
            //從 sessionStorage 取得儲存的搜尋飯店條件，並存儲在 searchHotelJson 變數中。
            if (searchHotelJson) {
                const searchHotel = JSON.parse(searchHotelJson);
                searchHotel.hotelTypes = getSelectedCheckboxes('.form-check-container-hotel-type');
                //hotelTypes 是 searchHotel 對象中的一個屬性，用於存儲選中的飯店類型。這些類型通常是從頁面上的多選框（checkboxes）中選取的。
                searchHotel.hotelEquipments = getSelectedCheckboxes('.form-check-container-hotel-equipment');
                searchHotel.cities = getSelectedCheckboxes('.form-check-container-city');
                searchHotel.roomEquipments = getSelectedCheckboxes('.form-check-container-room-equipment');
                sessionStorage.setItem('searchHotel', JSON.stringify(searchHotel));
                await loadHotels(searchHotel);
                //這兩行代碼的目的是將更新後的搜尋條件儲存在 sessionStorage 中，並使用這些條件來加載飯店資料。以下是詳細說明：
                //sessionStorage：這是一個 Web 存儲 API，允許你在用戶瀏覽器的會話期間儲存資料。不同於 localStorage，sessionStorage 中的資料在關閉瀏覽器窗口後會被清除。
                //setItem方法：這個方法用來將資料儲存到 sessionStorage 中。它接受兩個參數：鍵名（key）和要儲存的值（value）。
                //JSON.stringify：這個方法將 JavaScript 對象轉換為 JSON 字符串。這樣可以將複雜的對象結構儲存在 sessionStorage 中。

            } else {
                console.log('searchHotel not found in sessionStorage');
            }
        }

        // 提交按鈕功能的函數 會被觸發
        async function handleSubmitButtonClick() {
            const searchHotel = {
                keyword: document.querySelector("#search-input3").value,
                checkInDate: document.querySelector("#myDatepickerstart3").value,
                checkOutDate: document.querySelector("#myDatepickerend3").value,
                roomnum: parseInt(document.querySelector("#rooms3").value),
                adults: parseInt(document.querySelector("#adults3").value),
                children: 0,
                sortBy: null,
                sortType: null,
                lowerPrice: parseInt(document.querySelector("#lowerInput").value),
                upperPrice: parseInt(document.querySelector("#upperInput").value),
                hotelTypes: getSelectedCheckboxes('.form-check-container-hotel-type'),
                hotelEquipments: getSelectedCheckboxes('.form-check-container-hotel-equipment'),
                cities: getSelectedCheckboxes('.form-check-container-city'),
                roomEquipments: getSelectedCheckboxes('.form-check-container-room-equipment')
            };

            // 儲存搜尋條件至 sessionStorage
            sessionStorage.setItem("searchHotel", JSON.stringify(searchHotel));
            // 發送請求並更新顯示結果
            await loadHotels(searchHotel);
        }

        // 處理搜索關鍵字的函數，會被觸發
        async function handleSearchKeywordEnter() {
            const searchHotel = {
                keyword: document.querySelector("#search-input4").value, // 獲取搜索關鍵字
                checkInDate: document.querySelector("#myDatepickerstart3").value, // 獲取入住日期
                checkOutDate: document.querySelector("#myDatepickerend3").value, // 獲取退房日期
                roomnum: parseInt(document.querySelector("#rooms3").value), // 獲取房間數量並轉換為整數
                adults: parseInt(document.querySelector("#adults3").value), // 獲取成人數量並轉換為整數
                children: 0, // 固定值，設為0
                sortBy: null, // 排序方式，暫時設為空
                sortType: null, // 排序類型，暫時設為空
                lowerPrice: parseInt(document.querySelector("#lowerInput").value), // 獲取最低價格並轉換為整數
                upperPrice: parseInt(document.querySelector("#upperInput").value), // 獲取最高價格並轉換為整數
                hotelTypes: getSelectedCheckboxes('.form-check-container-hotel-type'), // 獲取選中的酒店類型
                hotelEquipments: getSelectedCheckboxes('.form-check-container-hotel-equipment'), // 獲取選中的酒店設備
                cities: getSelectedCheckboxes('.form-check-container-city'), // 獲取選中的城市
                roomEquipments: getSelectedCheckboxes('.form-check-container-room-equipment') // 獲取選中的房間設備
            };

            // 將搜索條件存儲到 sessionStorage 中
            sessionStorage.setItem("searchHotel", JSON.stringify(searchHotel));
            // 發送請求並更新顯示結果
            await loadHotels(searchHotel);
        }

        // 更新飯店列表的函數
        async function updateHotels(lowerPrice, upperPrice) {
            const searchHotelJson = sessionStorage.getItem('searchHotel');
            if (searchHotelJson) {
                const searchHotel = JSON.parse(searchHotelJson);
                searchHotel.lowerPrice = lowerPrice;
                searchHotel.upperPrice = upperPrice;
                sessionStorage.setItem('searchHotel', JSON.stringify(searchHotel));
                await loadHotels(searchHotel);
            } else {
                console.log('searchHotel not found in sessionStorage');
            }
        }

        //取得飯店評分API的函式
        async function getHotelScore(hotelId) {
            const url = `https://localhost:7103/api/Comment/${hotelId}/AverageScores`;
            const response = await fetch(url);
            if (!response.ok) {
                console.error(`Failed to fetch hotel scores for hotel ID ${hotelId}`);
                throw new Error('Failed to fetch hotel scores');
            }
            const data = await response.json();

            console.log(`Hotel ID: ${hotelId}, Score Data: `, data); // 添加日志
            return data.totalAverageScore.toFixed(1); // 确保这里使用的是 totalAverageScore，并格式化为小数点后一位
        }

        // 從後端 API 獲取指定 hotelId 的評論數和最新評論
        async function getHotelCommentsCount(hotelId) {
            try {
                const response = await fetch(`https://localhost:7103/api/Comment/${hotelId}/ForHotelComment`);
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const data = await response.json();
                console.log(data); // 確認返回的數據結構
                return data.totalComments; // 確保返回的數據屬性名稱與後端一致
            } catch (error) {
                console.error(`Error fetching comments count for hotel ID ${hotelId}:`, error);
                return "N/A"; // 如果获取评论数失败，显示N/A
            }
        }



        // 从 sessionStorage 获取搜索条件(by louieee)-------------------------------------------------
        // => 扣louieee Controller, 把session的入駐日跟退訂日以query string傳過去
        function getSearchHotel() {
            const searchHotelForLouieee = JSON.parse(sessionStorage.getItem("searchHotel"));//從瀏覽器的會話存儲中檢索先前保存的搜索條件
            return searchHotelForLouieee;
        }
        // // 在 JavaScript 中加密查询字符串(by louieee)--------------------------------------------------
        // function encryptData(data, key) {
        //     //生成密钥和IV：
        //     const keyBytes = CryptoJS.enc.Utf8.parse(key);
        //     const iv = CryptoJS.lib.WordArray.random(16);
        //     //加密数据：
        //     const encrypted = CryptoJS.AES.encrypt(data, keyBytes, { iv: iv });
        //     //将IV和加密后的数据合并，并转换为Base64编码：
        //     const encryptedData = iv.concat(encrypted.ciphertext).toString(CryptoJS.enc.Base64);
        //     //确保加密数据URL安全：
        //     return encodeURIComponent(encryptedData);
        // }


        // 加載飯店的函數
        //異步函數，接受一個包含搜尋條件的 searchHotel 物件作為參數
        async function loadHotels(searchHotel) {
            const url = "https://localhost:7103/api/HotelSearch/indexsearch";
            const response = await fetch(url, {
                method: "POST",
                body: JSON.stringify(searchHotel),//將 searchHotel 物件轉換為 JSON 字符串，作為請求的主體。
                headers: { "Content-Type": "application/json" },
            });
            const data = await response.json();

            const divHotels = document.querySelector("#showhotels");
            divHotels.innerHTML = "";

            const searchHotelForLouieee = getSearchHotel();
            /* const secretKey = "my_secret_key123";  */// 使用一个安全的密钥, 确保长度为16字节(by louieee)

            // 將參數轉為string後加密 => 再作為查詢字串以網址傳遞(by louieee)
            // const encryptedHotelId = encryptData(hotel.hotelId.toString(), secretKey);
            // const encryptedCheckInDate = encryptData(searchHotelForLouieee.checkInDate, secretKey);
            // const encryptedCheckOutDate = encryptData(searchHotelForLouieee.checkOutDate, secretKey);


            // 生成並顯示飯店信息
            const hotels = await Promise.all(data.map(async hotel => {  //Promise.all：確保所有異步操作完成後才繼續執行後續代碼。

                const { hotelId, hotelName, hotelAddress, hotelImages, levelStar, hotelEquipmentNames, hotelPrice, availableRooms } = hotel;
                let totalAverageScore;
                let commentsCount;

                try {
                    totalAverageScore = await getHotelScore(hotelId);
                } catch (error) {
                    console.error(`Error fetching score for hotel ID ${hotelId}:`, error);
                    totalAverageScore = "N/A"; // 如果获取评分失败，显示N/A
                }

                try {
                    commentsCount = await getHotelCommentsCount(hotelId);
                } catch (error) {
                    console.error(`Error fetching comments count for hotel ID ${hotelId}:`, error);
                    commentsCount = "N/A"; // 如果获取评论数失败，显示N/A
                }

                //在使用totalAverageScore進行比較時，確保它是數字類型：
                totalAverageScore = parseFloat(await getHotelScore(hotelId));


                if (!isNaN(totalAverageScore)) {
                    if (totalAverageScore >= 9) {
                        ratingDescription = "超讚";
                    } else if (totalAverageScore >= 7) {
                        ratingDescription = "很讚";
                    } else if (totalAverageScore >= 5) {
                        ratingDescription = "很好";
                    } else if (totalAverageScore >= 3) {
                        ratingDescription = "尚可";
                    } else {
                        ratingDescription = "低於預期";
                    }
                } else {
                    ratingDescription = "N/A";
                }

                console.log(`Hotel ID: ${hotelId}, Total Average Score: ${totalAverageScore}`); // 添加日志
                console.log(`Hotel Images: ${hotelImages}`); // 調試輸出圖片 URL
                console.log(`Comments Count: ${commentsCount}`); // 調試輸出評論數

                const mainImage = hotelImages[0] ? `https://localhost:7284/image/${hotelImages[0]}` : '';
                const smallImages = hotelImages.slice(1, 4).map(img => img ? `https://localhost:7284/image/${img}` : '');

                return `
                                        <div class="col-lg-12 hotel-card" data-hotel-id="${hotelId}">
                                            <div class="row">
                                                <a href="https://localhost:7284/PgHotel/pgHotel/?hotelId=${hotelId}&checkInDate=${searchHotelForLouieee.checkInDate}&checkOutDate=${searchHotelForLouieee.checkOutDate}" class="col-lg-12 hotel-link">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-sm-8 hotel-image-container" style="padding:0px">
                                                            <table>
                                                                <tr>
                                                                    <td colspan="3" style="position: relative;">
                                                                        <img src="${mainImage}" class="img-fluid" style="width:100%" />
                                                                        <div class="favorite-icon-container">
                                                                            <i class="fa fa-heart favorite-icon" data-hotel-id="${hotelId}" onclick="toggleFavorite(event, ${hotelId})"></i>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    ${smallImages.map(img => `<td><img src="${img}" class="img-fluid" /></td>`).join('')}
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="col-lg-5 col-sm-10 hotel-details">
                                                            <h3>${hotelName}</h3>
                                                            <p>${generateStars(levelStar)}</p>
                                                            <span style="color:blue">${hotelAddress}</span>
                                                            <h6>此住宿提供:</h6>
                                                            ${hotelEquipmentNames.map(name => `<h5 style="border: 1px solid black; display: inline-block;">${name}</h5>`).join('')}
                                                            <br>
                                                            <h6 style="color:green">${levelStar}星級飯店最優價</h6>
                                                            <h6 style="color:red">昨天起已收到${levelStar}張訂單</h6>
                                                        </div>                                                       
                                                        <div class="col-lg-3 col-sm-12 hotel-pricing">
                                                            <div class="rating">
                                                               <div class="rating-text">
                                                                      <span class="rating-count">${ratingDescription}</span>
                                                                      <span class="rating-count">${commentsCount}篇評鑑</span>
                                                               </div>
                                                               <span class="rating-score">${totalAverageScore}</span>
                                                            </div>
                                                            <br>
                                                            <h6 style="border: 1px solid red; display:inline-block; background-color: red; color:white">優惠只剩${availableRooms}間</h6>
                                                            <h6 style="color:gray">每晚價格(不連稅及其他費用)</h6>
                                                            <br><br>
                                                            <h3>NT$${hotelPrice}</h3>
                                                            <div class="checkbox-container" >
                                                                  <div class="form-check" onclick="event.stopPropagation()">
                                                                      <input class="form-check-input" type="checkbox" id="${hotelId}" data-hotel-id="${hotelId}">
                                                                      <label class="form-check-label" for="${hotelId}">比較</label>                                                                                                        
                                                                 </div>
                                                            </div>
                                                       </div>
                                                  </div>
                                              </a>
                                           </div>
                                        </div>  
                 `;
            }));


            divHotels.innerHTML = hotels.join("");

            //維持最愛紅心
            await applyFavoriteStatus();


            //被打勾的checkbox,產生新的compareDatas [ ] ,compareDatas [ ]裡的每個元素都是一間飯店資訊,去生成展開收合區塊中的照片容器、Modal的表格行
            function buildCompareDatas() {
                const checkedHotelIds = Array.from(document.querySelectorAll('.form-check-input:checked'))
                    .map(checkbox => checkbox.getAttribute('data-hotel-id'));
                const compareDatas = [];
                for (const id of checkedHotelIds) {
                    const result = data.filter(value => value.hotelId === parseInt(id));
                    compareDatas.push(...result);
                }
                return compareDatas;
            }

            function getImageUrl(imagePath) {
                console.log(imagePath)
                if (imagePath.startsWith('http') || imagePath.startsWith('https')) {
                    return imagePath;
                } else {
                    return window.location.origin + '/image/' + imagePath;
                }
            }


            //獲取所有具有 .form-check-input 類別的 checkbox 元素。對每個 checkbox 元素註冊一個 change 事件監聽器。
            //checkbox 的勾選狀態發生變化時,就會觸發 updateUI 函式的執行。
            document.querySelectorAll('.form-check-input').forEach(checkbox => {
                checkbox.addEventListener('change', updateUI);
            });


            // 獲取 checkbox 容器元素
            const checkboxContainer = document.querySelector('.checkbox-container');

            // 為 checkbox 容器元素添加點擊事件處理程序
            checkboxContainer.addEventListener('click', function (event) {
                // 阻止事件冒泡
                event.stopPropagation();
                // 其他操作...

                console.log('form check input clicked');

            });


            function updateUI() {
                const compareDatas = buildCompareDatas();
                console.warn(compareDatas);

                const accordionContainer = document.querySelector('#collapseOne .card-body .row .col-9');

                // // 顯示或隱藏 Accordion
                const Accordion = document.querySelector('#container1');

                // 根據 compareDatas 的長度決定是否顯示 Accordion
                if (compareDatas.length > 0) {
                    Accordion.style.display = 'block';
                } else {
                    Accordion.style.display = 'none';
                }



                // 清空之前的內容
                accordionContainer.innerHTML = '';
                document.querySelector('#myModal .table tbody').innerHTML = '';

                // 更新展開收合區塊中的n/5 checkbox勾選個數
                const accordionButton = document.querySelector('#accordionButton');
                accordionButton.innerHTML = `已選擇住宿 (${compareDatas.length}/5)`;

                // 更新展開收合區塊中的照片容器
                compareDatas.forEach(hotel => {
                    console.log('hotel：', hotel)

                    // 0620 hotelImages !!!! 教官撈回來的data變成陣列了,且hotelImage改為hotelImages複數
                    const { hotelImages, hotelId } = hotel;
                    const HotelImage = getImageUrl(hotelImages[0]);

                    const imageContainer = document.createElement('div');
                    imageContainer.className = 'image-container';


                    const closeButton = document.createElement('button');
                    closeButton.type = 'button';
                    closeButton.className = 'close remove-image';
                    closeButton.ariaLabel = 'Close';
                    closeButton.innerHTML = '<span aria-hidden="true">&times;</span>';
                    closeButton.style.position = 'absolute';
                    closeButton.style.zIndex = '2';
                    closeButton.style.left = 'calc(100% - 20px)';
                    closeButton.style.top = '5px';
                    imageContainer.appendChild(closeButton);

                    const img = document.createElement('img');
                    img.src = getImageUrl(hotelImages[0]);
                    // img.className = 'card-img-top';
                    img.className = 'img-thumbnail float-left mx-1';
                    img.alt = '房間圖片';
                    img.style.position = 'relative';
                    img.style.zIndex = '1';
                    img.style.width = '100%';

                    imageContainer.appendChild(closeButton);
                    imageContainer.appendChild(img);
                    accordionContainer.appendChild(imageContainer);

                    // 為新生成的 closeButton 添加事件監聽器,當按鈕被點擊時,它會找到對應的 checkbox,
                    // 將其勾選狀態設置為 false (取消勾選),然後重新呼叫 updateUI 函式來更新 UI。
                    closeButton.addEventListener('click', () => {
                        const checkbox = document.querySelector(`.form-check-input[data-hotel-id="${hotelId}"]`);
                        checkbox.checked = false;
                        updateUI();
                    });
                });

                // 更新Modal的表格行
                compareDatas.forEach(hotel => {
                    const { hotelImages, hotelName, cityName, levelStar, hotelEquipmentNames, totalAverageScore, hotelPrice, hotelId } = hotel;
                    const HotelImage = getImageUrl(hotelImages[0]);
                    const ratingscore = JSON.parse(totalAverageScore);
                    const formattedScore = parseFloat(ratingscore.toFixed(1));

                    const row = document.createElement('tr');
                    row.innerHTML = `
                                  <td><img src="${HotelImage}" class="card-img-top" alt="房間圖片"></td>
                                  <td>${hotelName}</td>
                                  <td>${cityName}</td>
                                  <td>${generateStars(levelStar)}</td>
                                  <td>${hotelEquipmentNames.join(', ')}</td>
                                  <td>${formattedScore}</td>
                                  <td>${hotelPrice}</td>
                                  <td>
                                      <button type="button" class="btn btn-primary">查看飯店</button>
                                      <button type="button" class="btn btn-secondary remove-row">移除</button>
                                  </td>
                              `;
                    document.querySelector('#myModal .table tbody').appendChild(row);


                    //  為新生成的remove-row 按鈕添加一個點擊事件監聽器,
                    // 當按鈕被點擊時,它會找到對應的 checkbox, 將其勾選狀態設置為 false (取消勾選),然後重新呼叫 updateUI 函式來更新 UI。
                    const removeRowButton = row.querySelector('.remove-row');
                    removeRowButton.addEventListener('click', () => {
                        const checkbox = document.querySelector(`.form-check-input[data-hotel-id="${hotelId}"]`);
                        checkbox.checked = false;
                        updateUI();
                    });
                });
            }
            // 為新生成的 view-hotel 按鈕添加事件監聽器
            // const viewHotelButton = row.querySelector('.view-hotel');
            // viewHotelButton.addEventListener('click', () => {
            //     // 導航到相應的飯店頁面
            //     const hotelUrl = `/Hotels/Details/${hotelId}`;
            //     window.location.href = hotelUrl;
            // });

        }


        console.warn("1233333333333333");


        // 切換最愛狀態的函數
        async function toggleFavorite(event, hotelId) {
            event.stopPropagation();
            event.preventDefault();
            const icon = event.currentTarget;
            const isLiked = !icon.classList.contains("liked");

            const url = "https://localhost:7103/api/HotelSearch/hotelLike";
            const payload = {
                HotelId: hotelId,
                MemberId: window.memberId,
                LikeStatus: isLiked
            };

            console.log('Sending payload:', payload); // 添加日志输出

            const response = await fetch(url, {
                method: "POST",
                body: JSON.stringify(payload),
                headers: { "Content-Type": "application/json" },
            });

            if (response.ok) {
                if (isLiked) {
                    icon.classList.add("liked");
                } else {
                    icon.classList.remove("liked");
                }
            } else {
                const errorText = await response.text(); // 獲取錯誤信息
                console.error('Failed to update favorite status:', errorText); // 输出错误日志
                alert("無法更新最愛狀態，請稍後再試");
            }
        }

        // 處理排序的邏輯函數
        async function handleSort(sortBy, sortType) {
            const searchHotelJson = sessionStorage.getItem('searchHotel');
            if (searchHotelJson) {
                const searchHotel = JSON.parse(searchHotelJson);
                searchHotel.sortBy = sortBy;
                searchHotel.sortType = sortType;
                sessionStorage.setItem('searchHotel', JSON.stringify(searchHotel));
                await loadHotels(searchHotel);
            } else {
                console.log('searchHotel not found in sessionStorage');
            }
        }
    </script>


    <script>
        // 解決 checkbox 內容太長的問題
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.querySelector("#toggleCityButton");
            const formCheckContainer = document.querySelector(".form-check-container-city");

            toggleButton.addEventListener("click", function () {
                formCheckContainer.classList.toggle("expanded");
                if (formCheckContainer.classList.contains("expanded")) {
                    toggleButton.textContent = "顯示較少";
                } else {
                    toggleButton.textContent = "顯示更多";
                }
            });
        });
    </script>


}

@section Styles {
    @* 價格搜尋拉霸設定 *@
    <style>

        .slider-container {
            display: flex;
            flex-direction: column;
        }

        .range-slider {
            position: absolute;
            width: 83%;
            height: 6px;
            background: #ddd;
            border-radius: 3px;
        }

        .slider-handle {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #007bff;
            border-radius: 50%;
            cursor: pointer;
            top: -7px;
            z-index: 10;
        }

        .label-container {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
        }

        .input-container {
            display: flex;
            justify-content: space-between;
        }

            .input-container input {
                width: 45%;
                z-index: 1;
            }

    </style>
    @* 主搜尋欄的下拉式選單 *@
    <style>
        .navbar {
            display: flex;
            border: 1px solid #ddd;
            padding: 10px;
            background-color: #ffffff;
            border-radius: 8px;
        }

            .navbar button {
                margin: 0 5px;
                padding: 10px 15px;
                border: 1px solid #ccc;
                background-color: #fff;
                cursor: pointer;
            }

                .navbar button:hover {
                    background-color: #f1f1f1;
                }

            .navbar .special-button {
                background-color: #4285f4;
                color: white;
                border: none;
            }

                .navbar .special-button:hover {
                    background-color: #357ae8;
                }
        /* 移除 input 上下箭頭 */
        .no-spinner::-webkit-outer-spin-button,
        .no-spinner::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    </style>
    @* checkbox設定 *@
    <style>
        /* 設定 checkbox 和標籤的樣式 */
        .form-check-label {
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 14px;
            margin-left: -20px; /* 調整這個數值以讓 checkbox 與標題對齊 */
        }

        /* 隱藏原本的 checkbox */
        .form-check-input {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 0;
            height: 0;
            position: absolute;
            opacity: 0;
        }

            /* 自定義的 checkbox 樣式 */
            .form-check-input + .form-check-label::before {
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 1px solid #ccc;
                border-radius: 2px;
                margin-right: 10px;
                vertical-align: middle;
                background-color: #fff;
            }

            /* 當 checkbox 被選中時的樣式 */
            .form-check-input:checked + .form-check-label::before {
                content: '\2713';
                display: inline-block;
                width: 16px;
                height: 16px;
                border: 1px solid #007bff;
                border-radius: 2px;
                margin-right: 10px;
                vertical-align: middle;
                background-color: #007bff;
                color: #fff;
                text-align: center;
                line-height: 16px;
            }

            .form-check-input:hover + .form-check-label::before {
                border-color: #007bff;
            }

        /* 城市選單樣式 */
        .form-check-container-city .city-item {
            display: none;
        }

            .form-check-container-city .city-item:nth-child(-n+10) {
                display: block;
            }

        .form-check-container-city.expanded .city-item {
            display: block;
        }

        /* 顯示更多按鈕樣式 */
        .toggle-button {
            margin-top: 10px;
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        /* 標題樣式 */
        .form-check-container-hotel-type > p,
        .form-check-container-hotel-equipment > p,
        .form-check-container-city > p,
        .form-check-container-room-equipment > p {
            font-size: 18px; /* 調整字體大小 */
            font-weight: bold; /* 調整字體粗細 */
            margin-bottom: 10px;
        }

    </style>
    @* 點擊旅館的效果 *@
    <style>
        .col-lg-4.col-sm-8 {
            height: 280px; /* 設置一個固定的高度，可根據需要調整 */
            padding: 0;
        }

            .col-lg-4.col-sm-8 table {
                height: 100%;
                width: 100%;
            }

            .col-lg-4.col-sm-8 img {
                object-fit: cover; /* 讓圖片完整顯示，並填滿容器 */
                height: 100%;
                width: 100%;
            }

        .hotel-card {
            margin: 10px 0; /* 添加間距 */
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff; /* 設置初始背景為白色 */
            transition: box-shadow 0.3s ease, background-color 0.3s ease; /* 添加過渡效果 */
            display: flex; /* 使用 flex 布局 */
        }

            .hotel-card:hover {
                box-shadow: 0 8px 16px rgba(0,0,0,0.2); /* 滑鼠滑過時增加陰影 */
            }

                .hotel-card:hover .hotel-details, .hotel-card:hover .hotel-pricing {
                    background-color: #f0f8ff; /* 滑鼠滑過時變為淺藍色 */
                }

            .hotel-card h3 {
                margin-top: 10px;
            }

        .hotel-details {
            border: 1px solid #FCFCFC;
            border-right: 2px solid #F0F0F0;
            background-color: #fff; /* 初始背景為白色 */
            padding: 5px; /* 增加內邊距 */
            flex: 2; /* 設置 flex 屬性 */
            transition: background-color 0.3s ease; /* 添加過渡效果 */
        }

        .hotel-pricing {
            border: 1px solid #FCFCFC;
            border-left: none; /* 移除左邊框 */
            text-align: right;
            background-color: #fff; /* 初始背景為白色 */
            padding: 10px; /* 增加內邊距 */
            flex: 1; /* 設置 flex 屬性 */
            transition: background-color 0.3s ease; /* 添加過渡效果 */
        }

        .hotel-info {
            display: flex; /* 使用 flex 布局 */
            width: 100%;
        }
    </style>
    @* index2跳轉至PGHotel專用 *@
    <style>

        a.hotel-link {
            text-decoration: none;
            color: inherit;
        }

            a.hotel-link:hover {
                text-decoration: none;
                color: inherit;
            }

            a.hotel-link:active {
                text-decoration: none;
                color: inherit;
            }

            a.hotel-link:visited {
                text-decoration: none;
                color: inherit;
            }
    </style>
    @* 廣告區 *@
    <style>

        .ad-container {
            position: fixed;
            right: 50px; /* //距離頁面右側的位置 */
            top: 49%; /* //圖片位於頁面的高度 */
            transform: translateY(-50%);
            width: 320px;
            z-index: 1000;
            padding: 10px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

            .ad-container img {
                width: 100%;
                margin-bottom: 15px;
            }
    </style>
    @* 我的最愛 星星 *@
    <style>

        .hotel-card {
            margin-bottom: 10px;
            border: 1px solid #ddd;
            position: relative;
        }

            .hotel-card .favorite-icon-container {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 36px;
                height: 36px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .hotel-card .favorite-icon {
                font-size: 24px;
                cursor: pointer;
                color: grey;
            }

                .hotel-card .favorite-icon.liked {
                    color: red;
                }

        .hotel-image-container {
            position: relative;
        }

        .small-images-container {
            padding: 0;
        }

            .small-images-container img {
                width: 32%;
                margin: 1%;
            }
        /* 星星图标颜色 */
        .fa-star {
            color: orange; /* 设置为金色，您也可以使用任何您喜欢的颜色 */
        }
    </style>
    @* 評分表 *@
    <style>
        .rating {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: 10px;
        }

        .rating-text {
            display: flex;
            flex-direction: column;
            text-align: right;
            margin-right: 10px;
        }

        .rating-score {
            background-color: #005eb8;
            color: white;
            border-radius: 50%;
            padding: 5px 10px;
            font-size: 1em;
            font-weight: bold;
        }

        .rating-count {
            color: gray;
            line-height: 1.2;
        }
    </style>

    @*     ============Accordion搬過來的CSS ==============*@

    <style>

        .form-check-input {
            z-index: 999;
        }

        .form-check-label {
            z-index: 999;
        }


        .image-container {
            position: relative;
            display: inline-block;
            width: 200px; /* 根据需要调整宽度 */
        }

            .image-container img {
                height: 100%; /* 根据需要调整高度 */
                width: 100%;
                object-fit: cover; /* 使图片保持原始比例并裁剪以填充容器 */
            }

        .remove-image {
            /*   position: relative;
                    top: 10px;
                    right: 10px; */
            position: absolute;
            z-index: 2;
            left: 80px;
        }

        .table-responsive {
            max-height: 400px; /* 根據需求調整 */
            overflow-y: auto;
        }

        .table-container {
            position: relative; /* 用於絕對定位關閉按鈕 */
            width: 80%;
        }

        .btn-close {
            z-index: 1050; /* 確保其位於其他元素之上 */
            margin: 0.5rem; /* 按鈕周圍的間距 */
        }

        .table-responsive {
            margin-left: 40px; /* 根據按鈕大小進行調整 */
        }


        .container1 {
            bottom: 0; /*網頁底部顯示*/
            position: fixed; /*網頁底部顯示*/
            width: 50%;
            display: flex;
            flex-direction: column;
            z-index: 999;
        }

        .collapsible {
            background-color: #f2f2f2;
            padding: 10px;
            border: 1px solid #ddd;
        }

        .bottom {
            display: flex;
            margin-top: 10px;
            width: 100%;
        }

        .left {
            flex: 1.0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            width: 100%;
        }

        .right {
            flex-basis: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            width: 100%;
        }

        img {
            width: 100px;
            height: auto;
        }

        .table img {
            width: 150px; /* 固定圖片寬度 */
            height: 100px; /* 固定圖片高度 */
            object-fit: cover; /* 覆蓋模式，保持圖片的比例，超出的部分會被裁切 */
        }

        /* 星星图标颜色 */
        .fa-star {
            color: orange; /* 设置为金色，您也可以使用任何您喜欢的颜色 */
        }
    </style>




}


