@model IEnumerable<PrjFunNowWeb.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coupon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coupon.CouponName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus.OrderStatusId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus.PaymentStatusId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
